{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for s in servers %}
            <li class="{% if server == s %}selected{% endif %}">
              <a class="tooltip {% if not s.online %}disabled{% endif %}" href="{% if s.online %}/{{s.id}}/admin{% else %}#{% endif %}" title="{% if s.online %}Address: {% endif %}{{ s.address }}">{{ s.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="sub-header">
      <ul>
        <li>
          <div>Players <span class="player-count">-</span></div>
        </li>
        <li>
          <div>TPS <span class="tps">-</span></div>
        </li>
        <li>
          <div>Load <span class="load">-</span></div>
        </li>
      </ul>
    </div>
    <div class="admin-panel">
      <div class="admin-right">
        <div class="players"></div>
        <div class="users"></div>
      </div>
      <div class="detail" style="display: none;">
        <div class="detail-inner">
          <a class="close" href="#">x</a>
          <img class="face"/>
          <a class="link" target="_blank">
            <h3 class="display-name"></h3>
          </a>
          <div class="username"></div>
          <br>
          <div class="stats">
            <div>
              <b>Rank</b>
              <span class="rank"></span>
            </div>
            <div>
              <b>Time Spent</b>
              <span class="time-spent"></span>
            </div>
            <div>
              <b>IP Address</b>
              <span class="ip"></span>
            </div>
          </div>
          <div class="stats">
            <div>
              <b>Health</b>
              <span class="health"></span>
            </div>
            <div>
              <b>Location</b>
              <span class="location"></span>
            </div>
            <div>
              <b>Titles</b>
              <span class="titles"></span>
            </div>
          </div>
          <div class="options">
            <a class="btn donator" href="#">Set Donator</a><br>
          </div>
        </div>
      </div>
      <div class="admin-left">
        <input class="console-notification" type="checkbox" checked/>
        <div class="console"></div>
        <input class="console-textbox" type="text">
      </div>
    </div>
    
    <script type="text/javascript">
        StandardWeb.console.serverId = {{ server.id }};
    </script>
{% endblock %}
