{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}

{% block script_files %}
<script src="{{ rts_address }}/socket.io/socket.io.js"></script>
{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for s in servers %}
          <li {% if server == s %}class="selected"{% endif %}>
            <a class="tooltip {% if not s.online %}disabled{% endif %}" href="{% if s.online %}/{{s.id}}/admin{% else %}#{% endif %}" title="{% if s.online %}Address: {% endif %}{{ s.address }}">{{ s.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="sub-header">
      <ul>
        <li>
          <div>Players<span class="stat player-count">-</span></div>
        </li>
        <li>
          <div>TPS<span class="stat tps">-</span></div>
        </li>
        <li>
          <div>Load<span class="stat load">-</span></div>
        </li>
      </ul>
    </div>
    <div class="admin-panel">
      <div class="admin-right">
        <div class="players"></div>
        <div class="users"></div>
      </div>
      <div class="detail" style="display: none;">
        <div class="detail-inner">
          <a class="close" href="#">x</a>
          <img class="face"/>
          <a class="link" target="_blank">
            <h3 class="display-name"></h3>
          </a>
          <div class="username"></div>
          <br>
          <div class="stats">
            <div>
              <b>Rank</b>
              <span class="rank"></span>
            </div>
            <div>
              <b>Time Spent</b>
              <span class="time-spent"></span>
            </div>
            <div>
              <b>IP Address</b>
              <span class="ip"></span>
            </div>
          </div>
          <div class="stats">
            <div>
              <b>Health</b>
              <span class="health"></span>
            </div>
            <div>
              <b>Location</b>
              <span class="location"></span>
            </div>
            <div>
              <b>Titles</b>
              <span class="titles"></span>
            </div>
          </div>
          <div class="options">
            <a class="btn donator" href="#">Set Donator</a><br>
          </div>
        </div>
      </div>
      <div class="admin-left">
        <input class="console-notification" type="checkbox" checked/>
        <div class="console"></div>
        <input class="console-textbox" type="text">
      </div>
    </div>
    
    <script type="text/javascript">
        var $notificationCheckBox;
        var $console;
        var $detail;
        
        var $close;
        var $displayName;
        var $username;
        var $image;
        var $link;
        var $ip;
        var $rank;
        var $timeSpent;
        var $health;
        var $location;
        var $titles;
        var $donatorBtn;
        
        var consoleStream;
        var currentUsername;

        var baseUrl = '{{ rts_address }}';
        var serverId = {{ server.id }};
        
        function resize() {
            var baseHeight = $(window).height() - $("#header").outerHeight() - $(".sub-header").outerHeight();
            var consoleHeight = baseHeight - 30;
            var detailHeight = baseHeight - 22;
            var playersHeight = baseHeight - 150;

            if ($(".nav-header").is(':visible')) {
                consoleHeight -= $(".nav-header").outerHeight();
                detailHeight -= $(".nav-header").outerHeight();
                playersHeight -= $(".nav-header").outerHeight();
            }

            $console.height(consoleHeight);
            $detail.height(detailHeight);
            $(".players").height(playersHeight);
            $(".users").height(138);
        }
        
        var updatePlayerDetail = function(username) {
            var player = consoleStream.allPlayers[username];
            if (!player) {
                return;
            }
            
            var href = '/' + serverId + '/player/' + username;
            
            if (player.nickname) {
                $displayName.html('<span class="ansi-container">' + player.nicknameAnsi + '</span>');
                $username.html('(' + username + ')');
            } else {
                $displayName.html(username);
                $username.html('&nbsp');
            }
            
            $link.attr('href', href);
            
            var hours = Math.floor(player.time_spent / 60);
            var minutes = hours > 0 ? (player.time_spent % (hours * 60)) : player.time_spent;
            
            var timeSpent;
            
            if (hours) {
                timeSpent = hours + (hours == 1 ? ' hour ' : ' hours ')
                    + minutes + (minutes == 1 ? ' minute ' : ' minutes');
            } else {
                timeSpent = minutes + (minutes == 1 ? ' minute ' : ' minutes');
            }
            
            $ip.html(player.address);
            $rank.html(player.rank);
            $timeSpent.html(timeSpent);
            $health.html(player.health.toFixed(2));
            $location.html('[' + player.world + '] ' + player.x + ', ' + player.y + ', ' + player.z);
            
            var titleNames = [];
            player.titles.map(function(title) {
                titleNames.push(title.display_name);
            });
            
            if (!titleNames.length) {
                $titles.html('None');
            } else {
                $titles.html(titleNames.join(', '));
            }
            
            if (username != currentUsername) {
                currentUsername = username;
                
                $image.attr('src', '/faces/64/' + username + '.png');
            }
            
            $detail.show();
        };
        
        $(document).ready(function() {
            $notificationCheckBox = $('.console-notification');
            $console = $('.console');
            $detail = $('.detail');
            
            $close = $detail.find('.close');
            $displayName = $detail.find('.display-name');
            $username = $detail.find('.username');
            $image = $detail.find('.face');
            $link = $detail.find('.link');
            $ip = $detail.find('.ip');
            $rank = $detail.find('.rank');
            $timeSpent = $detail.find('.time-spent');
            $health = $detail.find('.health');
            $location = $detail.find('.location');
            $titles = $detail.find('.titles');
            $donatorBtn = $detail.find('.donator');
            
            var $consoleTextbox = $('.console-textbox');
            
            consoleStream = new ConsoleStream({{ rts_auth_data|tojson|safe }}, baseUrl, $console,
                                              $consoleTextbox, serverId);
            
            resize();
            
            $(window).resize(function() {
                resize();
                consoleStream.scrollToBottom();
            });
            
            consoleStream.connect(function(error) {});
            
            consoleStream.onUpdate = function() {
                if (currentUsername) {
                    updatePlayerDetail(currentUsername);
                    $('.player[username="' + currentUsername + '"]').addClass('selected');
                }
            };
            
            soundManager.setup({
                url: '/static/flash/',
                flashVersion: 9,
                debugMode: false,
                onready: function() {
                    var mentionSound = soundManager.createSound({
                        id: 'mention',
                        url: '/static/sound/mention.wav'
                    });
                    
                    consoleStream.setMentionSound(mentionSound);
                }
            });
            
            $notificationCheckBox.on('click', function(e) {
                var enabled = $(this).is(':checked');
                consoleStream.playMentionSound = enabled;
            });
            
            $(document).on('click', '.player', function(e) {
                var username = $(this).attr('username');
                
                $('.player.selected').removeClass('selected');
                $(this).addClass('selected');
                consoleStream.scrollToBottomIfAtBottom(function() {
                    updatePlayerDetail(username);
                });
            });
            
            $image.on('load', function(e) {
                $image.fadeTo(0, 1);
            });
            
            $donatorBtn.on('click', function(e) {
                consoleStream.setDonator(currentUsername);
            })
            
            $close.on('click', function(e) {
                currentUsername = null;
                
                $('.player.selected').removeClass('selected');
                
                consoleStream.scrollToBottomIfAtBottom(function() {
                    $detail.hide();
                });
            });
        })
    </script>
{% endblock %}
