{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for s in servers %}
            <li class="{% if server == s %}selected{% endif %}">
              <a class="tooltip {% if not s.online %}disabled{% endif %}" href="{% if s.online %}/{{s.id}}/admin{% else %}#{% endif %}" title="{% if s.online %}Address: {% endif %}{{ s.address }}">{{ s.abbreviation }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="admin-panel"></div>
{% endblock %}

{% block js %}
    {{ super() }}
    {% assets "js_admin" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="text/javascript">
        StandardWeb.admin.serverId = {{ server.id }};

        React.render(
            React.createElement(StandardWeb.reactComponents.AdminPanel),
            document.getElementById('admin-panel')
        );
    </script>
{% endblock %}
