<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{% block title %}Standard Survival Minecraft Server{% endblock %}</title>
    <meta name="description" content="{% block description %}The website for the Standard Survival Minecraft Server, a vanilla-inspired survival server with a unique twist.{% endblock %}">
    {% if noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tipsy.css') }}">
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32372174-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/all.min.js') }}"></script>

    {% if g.first_login %}
        <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6018722527894', {'value':'0.00','currency':'CAD'}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018722527894&amp;cd[value]=0.00&amp;cd[currency]=CAD&amp;noscript=1" /></noscript>
    {% endif %}
    
    <!--[if lte IE 8]><script type="text/javascript" src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script><![endif]-->
    {% block script_files %}{% endblock %}
</head>

<body>
    <div id="header">
        <div id="inner">
            <div class="desktop">
                <a href="/" class="strong {% block select_index %}{% endblock %}">Standard Survival</a>
                <a class="{% block select_guide %}{% endblock %}" href="{{ url_for('guide') }}">Guide</a>
                <a class="{% block select_ranking %}{% endblock %}" href="{{ url_for('ranking', server_id=server.id if server else None) }}">Ranking</a>
                <a class="{% block select_groups %}{% endblock %}" href="{{ url_for('groups', server_id=server.id if server else None) }}">Groups</a>
                <a class="{% block select_leaderboards %}{% endblock %}" href="{{ url_for('leaderboards', server_id=server.id if server else None) }}">Leaderboards</a>
                <a class="{% block select_forum %}{% endblock %}" href="{{ url_for('forums') }}">Forums</a>
                <a class="{% block select_chat %}{% endblock %}" href="{{ url_for('chat', server_id=server.id if server else None) }}">Live Chat</a>
                {% if user and user.admin %}
                    <a href="{{ url_for('admin', server_id=server.id if server else None) }}">Server Admin</a>
                {% endif %}
                <div id="right">
                    {% if user %}
                        {% if not user.admin %}
                            <a class="{% block select_player %}{% endblock %}" href="{{ url_for('player', username=user.player.username) }}">{{ user.player.username|face_thumb }}{{ user.player.username }}</a>
                        {% endif %}
                        <a href="{{ url_for('logout') }}">Log out</a>
                    {% else %}
                        <a class="{% block select_signup %}{% endblock %}" href="{{ url_for('signup') }}">Sign up</a>
                        <a class="{% block select_login %}{% endblock %}" href="{{ url_for('login', next=request.path) }}">Log in</a>
                    {% endif %}
                    <form class="form-inline" method="GET" action="{{ url_for('player_search') }}">
                        <input class="placeholder" type="text" name="q" placeholder="Player search" value="{{ query }}"/>
                    </form>
                </div>
            </div>
            <div class="mobile">
                <div class="mobile-title">
                    Standard Survival
                </div>
                <div class="mobile-nav">
                    <a href="#" class="btn extender" data-target="mobile-nav-menu">=</a>
                </div>
                <ul id="mobile-nav-menu" style="display:none;">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('guide') }}">Guide</a></li>
                    <li><a href="{{ url_for('ranking', server_id=server.id if server else None) }}">Ranking</a></li>
                    <li><a href="{{ url_for('groups', server_id=server.id if server else None) }}">Groups</a></li>
                    <li><a href="{{ url_for('leaderboards', server_id=server.id if server else None) }}">Leaderboards</a></li>
                    <li><a href="{{ url_for('forums') }}">Forums</a></li>
                    <li><a href="{{ url_for('chat', server_id=server.id if server else None) }}">Live Chat</a></li>
                    {% if user and user.admin %}<li><a href="{{ url_for('admin', server_id=server.id if server else None) }}">Server Admin</a></li>{% endif %}
                        <li>&nbsp;</li>
                    {% if user %}
                        {% if not user.admin %}
                            <li><a href="{{ url_for('player', username=user.player.username) }}">{{ user.player.username|face_thumb }}{{ user.player.username }}</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                        <li><a href="{{ url_for('login', next=request.path) }}">Log in</a></li>
                    {% endif %}
                    <li><form class="form-inline" method="GET" action="{{ url_for('player_search') }}">
                        <input class="placeholder" type="text" name="q" placeholder="Player search" value="{{ query }}"/>
                    </form></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var $address = $('#address');
            $address.tipsy({
                trigger: 'manual',
                gravity: 'w',
                offset: 10
            });

            var clipboard = new ZeroClipboard($address, {
                moviePath: "{{ url_for('static', filename='flash/ZeroClipboard.swf') }}"
            });

            clipboard.on('complete', function(client, args) {
                $address.tipsy('hide');
                $address.attr('original-title', 'Copied!');
                $address.tipsy('show');
                _gaq.push(['_trackPageview', '/address/copied']);
            });

            clipboard.on('mouseover', function(client) {
                $address.attr('original-title', 'Click to copy to clipboard');
                $address.tipsy('show');
            });

            clipboard.on('mouseout', function(client) {
                $address.tipsy('hide');
            });
        });
    </script>
</body>
</html>
