<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>{% block title %}Standard Survival Minecraft Server{% endblock %}</title>
        <meta name="description" content="{% block description %}The website for the Standard Survival Minecraft Server, a vanilla-inspired survival server with a unique twist.{% endblock %}">
        {% if noindex %}
        <meta name="robots" content="noindex">
        {% endif %}

        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <meta name="google-site-verification" content="YOWsuy7dvGOIGpP7ah8-QAunJn-E6uzCUpLm1kljULM" />

        {% assets "css_all" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}

        <!-- start Google Analytics -->
        <script type="application/javascript">
            var _gaq = _gaq || [];

            _gaq.push(['_setAccount', 'UA-32372174-1']);
            _gaq.push(['_trackPageview']);

            {% if not is_debug %}
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            {% endif %}
        </script>
        <!-- end Google Analytics -->

        {% assets "js_lib" %}<script type="application/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
        {% assets "js_base" %}<script type="application/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

        {% if g.first_login %}
            <script type="application/javascript">
                (function() {
                  var _fbq = window._fbq || (window._fbq = []);
                  if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                  }
                })();
                window._fbq = window._fbq || [];
                window._fbq.push(['track', '6018722527894', {'value':'0.00','currency':'CAD'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018722527894&amp;cd[value]=0.00&amp;cd[currency]=CAD&amp;noscript=1" /></noscript>
        {% endif %}

        {% if current_user %}
            <script type="application/javascript">
                StandardWeb.userId = {{ current_user.id }};
                StandardWeb.username = '{{ current_user.get_username() }}';
            </script>

            {% if current_user.player %}
                <script type="application/javascript">
                    StandardWeb.playerId = {{ current_user.player_id }};
                    StandardWeb.nickname = '{{ current_user.player.nickname or '' }}';
                </script>
            {% endif %}
        {% endif %}

        <script type="application/javascript">
            StandardWeb.cdnDomain = '{{ cdn_domain }}';

            var rtsAuthData = {{ rts_auth_data|tojson|safe }};
            var rtsBaseUrl = '{{ rts_base_url }}';
            var rtsPrefix = '{{ rts_prefix }}';

            StandardWeb.realtime.init(rtsAuthData, rtsBaseUrl, rtsPrefix);
            StandardWeb.setCSRFToken('{{ session["csrf_token"] }}');
        </script>
    </head>

    <body>
        <div class="header">
            <div class="header-inner">
                <a href="#" class="mobile-nav-btn extender" data-target="header-content"><i class="fa fa-bars"></i></a>
                <div class="header-content" id="header-content">
                    <ul class="header-nav">
                        <li><a href="/" class="strong {% block select_index %}{% endblock %}">Standard Survival</a></li>
                        <li><a class="{% block select_guide %}{% endblock %}" href="{{ url_for('guide') }}">Guide</a></li>
                        <li><a class="{% block select_ranking %}{% endblock %}" href="{{ url_for('ranking', server_id=server.id if server else None) }}">Ranking</a></li>
                        <li><a class="{% block select_groups %}{% endblock %}" href="{{ url_for('groups', server_id=server.id if server else None) }}">Groups</a></li>
                        <li><a class="{% block select_leaderboards %}{% endblock %}" href="{{ url_for('leaderboards', server_id=server.id if server else None) }}">Leaderboards</a></li>
                        <li><a class="{% block select_forum %}{% endblock %}" href="{{ url_for('forums') }}">Forums</a></li>
                        <li><a class="{% block select_chat %}{% endblock %}" href="{{ url_for('chat', server_id=server.id if server else None) }}">Live Chat</a></li>
                        <li><a class="{% block select_search %}{% endblock %}" href="{{ url_for('player_search') }}">Player Search</a></li>
                        {% if current_user and current_user.admin %}
                            <li><a href="{{ url_for('admin', server_id=server.id if server else None) }}">Admin</a></li>
                        {% endif %}
                    </ul>
                    <div class="header-account">
                        {% if current_user %}
                            <div class="icons">
                                <a class="icon messages {% if new_messages %}new{% endif %}" href="{{ url_for('messages') }}" title="Messages">
                                    <i class="fa fa-envelope"></i>
                                    <span class="count">{{ new_messages }}</span>
                                </a>
                                <a class="icon notifications {% if new_notifications %}new{% endif %}" href="{{ url_for('notifications') }}" title="Notifications">
                                    <i class="fa fa-bell"></i>
                                    <span class="count">{{ new_notifications }}</span>
                                </a>
                            </div>
                            <div class="dropdown">
                                {% if current_user.player %}
                                    <a class="{% block select_player %}{% endblock %} toggle" href="#">
                                        {{ current_user.player.username|face_thumb }}{{ current_user.player.username }}
                                        <span class="caret"></span>
                                    </a>
                                {% else %}
                                    <a class="toggle" href="#">
                                        {{ current_user.username }}
                                        <span class="caret"></span>
                                    </a>
                                {% endif %}
                                <div class="options">
                                    {% if current_user.player %}
                                        <a href="{{ url_for('player', username=current_user.player.username) }}">
                                            <i class="fa fa-user"></i><span>Profile</span>
                                        </a>
                                    {% endif %}
                                    <a href="{{ url_for('settings') }}">
                                        <i class="fa fa-wrench"></i><span>Settings</span>
                                    </a>
                                    <a href="{{ url_for('logout') }}">
                                        <i class="fa fa-sign-out"></i><span>Log out</span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <ul class="header-nav">
                                <li><a class="{% block select_signup %}{% endblock %}" href="{{ url_for('signup') }}">Sign up</a></li>
                                <li><a class="{% block select_login %}{% endblock %}" href="{{ url_for('login') }}">Log in</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>

    {% block js %}
        <script type="application/javascript">
            StandardWeb.numNewNotifications = {{ new_notifications }};
            StandardWeb.numNewMessages = {{ new_messages }};
        </script>
    {% endblock %}
</html>
