{% extends "base.html" %}

{% block title %}Live Server Chat - Standard Survival Minecraft Server{% endblock %}

{% block select_chat %}selected{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for s in servers %}
            <li class="{% if server == s %}selected{% endif %}">
              <a class="tooltip {% if not s.online %}disabled{% endif %}" href="{% if s.online %}/{{s.id}}/chat{% else %}#{% endif %}" title="{% if s.online %}Address: {% endif %}{{ s.address }}">{{ s.abbreviation }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
      {% include 'includes/flash_messages.html' %}

      <div id="live-chat"></div>
      {% if not current_user %}
        <br>
        <div>
          You must be <a href="{{ url_for('login', next=request.path) }}">logged in</a> to the website to be able to chat!
        </div>
      {% endif %}
    </div>
{% endblock %}

{% block js %}
  {{ super() }}
  {% assets "js_chat" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

  <script type="application/javascript">
    StandardWeb.chat.serverId = {{ server.id }};

    React.render(
      React.createElement(StandardWeb.reactComponents.LiveChat),
      document.getElementById('live-chat')
    );
  </script>
{% endblock %}
