{% extends "base.html" %}

{% block title %}Live Server Chat - Standard Survival Minecraft Server{% endblock %}

{% block select_chat %}selected{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for s in servers %}
            <li class="{% if server == s %}selected{% endif %}">
              <a class="tooltip {% if not s.online %}disabled{% endif %}" href="{% if s.online %}/{{s.id}}/chat{% else %}#{% endif %}" title="{% if s.online %}Address: {% endif %}{{ s.address }}">{{ s.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
      {% include 'includes/flash_messages.html' %}

      <h2>Live Server Chat</h2>
      <div class="chat-container">
        <div class="chat-area"></div>
        <input id="chat-textbox" type="text" maxlength="80"/>
      </div>
      {% if not user %}
        <br>
        <div>
          You must be <a href="{{ url_for('login', next=request.path) }}">logged in</a> to the website to be able to chat!
        </div>
      {% endif %}
      <table class="players-table">
      </table>
      
      <script type="text/javascript">
          StandardWeb.chat.serverId = {{ server.id }};
      </script>
    </div>
{% endblock %}
