{% extends "base.html" %}

{% block title %}Create account - Standard Survival Minecraft Server{% endblock %}

{% block content %}
  <div id="main">
    <div class="center-section">
      <form id="verify-form" action="{{ url_for('create_account', token=email_token.token) }}" method="post">
        {{ form.hidden_tag() }}
        <h2>Create your website account</h2>
        <fieldset>
          {% include 'includes/messages.html' %}
          <div class="control-group">
            <label class="control-label">Username</label>
            <div class="control">{{ player.username }}</div>
          </div>

          <div class="control-group">
            {{ form.password.label }}
            <div class="control">
              {{ form.password() }}
              <span class="control-errors">{% if form.password.errors %}{{ form.password.errors[0] }}{% endif %}</span>
            </div>
          </div>
          
          <div class="control-group">
            {{ form.confirm_password.label }}
            <div class="control">
              {{ form.confirm_password() }}
              <span class="control-errors">{% if form.confirm_password.errors %}{{ form.confirm_password.errors[0] }}{% endif %}</span>
            </div>
          </div>
          
          <div class="control-group">
            <div class="control">
              <input class="btn" type="submit" value="Create account">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}


