{% extends "base.html" %}

{% block title %}Create account - Standard Survival Minecraft Server{% endblock %}

{% from 'includes/forms.html' import render_field %}

{% block content %}
  <div class="container">
    <div class="center-form-section">
      <form action="{{ url_for('create_account', token=email_token.token) }}" method="post">
        {{ form.hidden_tag() }}
        <h2>Create your website account</h2>
        <fieldset>
          {% include 'includes/flash_messages.html' %}
          <div class="control-group">
            <label>Username</label>
            <div class="control">{{ player.username }}</div>
          </div>

          {{ render_field(form.password) }}
          {{ render_field(form.confirm_password) }}
          
          <div class="control-group">
            <div class="control">
              <input class="btn" type="submit" value="Create">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}


