{% extends "base.html" %}

{% block title %}Forgot password - Standard Survival Minecraft Server{% endblock %}

{% block content %}
  <div class="container">
    <div class="center-section">
      <form id="verify-form" action="{{ url_for('forgot_password') }}" method="post">
        {{ form.hidden_tag() }}
        <h2>Reset password</h2>
        <fieldset>
          {% include 'includes/flash_messages.html' %}
          <p>Enter your email address to receive password reset instructions</p>
          <div class="control-group">
            {{ form.email.label }}
            <div class="control">
              {{ form.email() }}
              <span class="control-errors">{% if form.email.errors %}{{ form.email.errors[0] }}{% endif %}</span>
            </div>
          </div>

          <div class="control-group">
            <div class="control">
              <input class="btn" type="submit" value="Reset password">
            </div>
          </div>
          <hr>
          <p class="help">
            Don't have an email associated with your account? Log into the server and type <code>/register</code> to set one.
          </p>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}


