{% extends "base.html" %}

{% block title %}Groups - {{ server.address }} - Standard Survival Minecraft Server{% endblock %}

{% block select_groups %}selected{% endblock %}
{% block content %}
    <div class="nav-header">
        <div class="inner">
            <ul>
                {% for s in servers %}
                    <li class="{% if server == s %}selected{% endif %}">
                        <a class="tooltip" href="{{ url_for('groups', server_id=s.id) }}" title="Address: {{ s.address }}">{{ s.abbreviation }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <h2>Groups</h2>
        <div class="group-lists">
            <b>Sort by:</b>
            {{ mode_link(mode, 'Largest') }}
            {{ mode_link(mode, 'Oldest') }}
        </div>
        <div class="groups">
            {% if groups %}
                {{ pages() }}
                <table class="group-table lite-anchor">
                    {% for group in groups %}
                        <tr>
                            <td>
                                <h4>
                                    <a href="{{ url_for('group', server_id=server.id, name=group.name) }}">
                                        {{ group.name|safe }}
                                    </a>
                                </h4>
                                {% for member in group.members %}
                                    <a class="tooltip" href="{{ url_for('player', server_id=server.id, username=member.username) }}" title="{{ member.displayname }}">
                                        {{ member.username|face_thumb }}
                                    </a>
                                {% endfor %}
                            </td>
                            <td>
                                {{ group.member_count }} {{'member' if group.member_count == 1 else 'members'}}
                            </td>
                            <td>
                                Established {{ group.established|from_now }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ pages() }}
            {% else %}
                <h3>No groups exist on this server</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro mode_link(current_mode, mode) %}
    {% if current_mode == mode.lower() %}
        {{ mode }}
    {% else %}
        <a href="{{ url_for('groups', server_id=server.id, mode=mode.lower(), p=page if page > 1 else None) }}">{{ mode }}</a>
    {% endif %}
{%- endmacro %}

{% macro pages() %}
    {% if group_count > page_size %}
        <div class="pages">
            <b>Pages:</b>
            {% with end_page = ((group_count - 1) // page_size) + 1 %}
            {% for p in range(1, end_page + 1) %}
                {% if (p - page)|abs >= 3 and not p == end_page and not p == 1 %}
                    {% if (p - page)|abs == 3 %}
                        ...
                    {% endif %}
                    {% continue %}
                {% endif %}

                {% if p == page %}
                    <span>{{ p }}</span>
                {% elif p != 1 %}
                    <a href="{{ url_for('groups', server_id=server.id, mode=mode, p=p) }}">{{ p }}</a>
                {% else %}
                    <a href="{{ url_for('groups', server_id=server.id, mode=mode) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{%- endmacro %}