{% extends "base.html" %}

{% block select_index %}selected{% endblock %}

{% block content %}
    <div id="main">
        <div id="splash">
            <h1>Standard Survival</h1>
            <img src="{{ url_for('static', filename='images/standard-survival.jpg') }}" width="958px" height="331px" alt="Standard Survival Minecraft Server">
            <div id="caption">A vanilla-inspired Minecraft survival server</div>
        </div>
        <div id="left-section">
            <h2>Connect To</h2>
            <p><b id="address" data-clipboard-target="address">standardsurvival.com</b></p>
        
            <h2>Description</h2>
            <p><b>Standard Survival</b> is a Minecraft survival server that tries to be as close to the vanilla experience as possible. It's where you can simply play the original game without any of the drastically game-changing plugins or features that you would usually find elsewhere on most servers. This means <b>the server does not have teleport commands (/tp, /home, /spawn), economy, skill systems, ranks, etc</b>. Every player will always be equal.</p>
            <p>The Factions and Lockette plugins exist on the server out of necessity to allow for protection of property and land. Otherwise, the gameplay is as close to vanilla as possible. You can build, craft, mine, explore, kill, grief and do anything else you want that's possible in Minecraft; there are no gameplay-related rules. The usual no-hacking, no-racism and no-abuse rules are in place to make sure the server provides a fun and friendly experience for everyone.</p>
            
            <h2>Player Graph</h2>
            <div id="graph" class="graph progress"></div>
            <br/>
            <p>Hosting this Minecraft server is a lot of fun, but it does need time and especially money to run. Please consider helping me cover the cost of running the server by clicking the donate button below. Thanks.</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" onclick="donateClick()">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R4GTC8E7Z8Y84">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="Donate" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div id="sidebar">
            <h2>Server Status <span id="refreshButton" class="button" onclick="_gaq.push(['_trackPageview', '/refresh/player-list']); loadPlayerList();"><img id="refreshImage"/></span></h2>
            <div id="player-list">
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <a class="github-banner" href="https://github.com/sbezboro/standard-web"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" width="149" height="149"></a>
    <script type="text/javascript">
        function donateClick() { 
            _rollbar.push({level: 'info', msg: 'Donate clicked'});
            _gaq.push(['_trackPageview', '/donate/click']); 
            return true; 
        }
        
        function loadPlayerList() {
            if ($("#refreshButton").hasClass("button")) {
                $("#refreshButton").removeClass("button");
                $("#refreshImage").attr("src", "{{STATIC_URL}}images/spinner.gif");
                $("#player-list").fadeTo(0, 0.25).load('player_list', function(response, status, xhr) {
                    $("#refreshButton").addClass("button");
                    $("#refreshImage").attr("src", "{{STATIC_URL}}images/refresh.png");
                    $("#player-list").fadeTo(100, 1);
                });
            }
        }
        
        $(document).ready(function() {
            var $address = $('#address');
            $address.tipsy({
                trigger: 'manual',
                gravity: 'w',
                offset: 10
            });
            
            var clipboard = new ZeroClipboard($address, {
                moviePath: "/static/flash/ZeroClipboard.swf"
            });
            
            clipboard.on('complete', function(client, args) {
                $address.tipsy('hide');
                $address.attr('original-title', 'Copied!');
                $address.tipsy('show');
                _gaq.push(['_trackPageview', '/address/copied']);
            });
            
            clipboard.on('mouseover', function(client) {
                $address.attr('original-title', 'Click to copy to clipboard');
                $address.tipsy('show');
            });
              
            clipboard.on('mouseout', function(client) {
                $address.tipsy('hide');
            });
            
            loadPlayerList();
            loadPlayerGraph($("#graph"));
        });
    </script>
{% endblock %}
