{% extends "base.html" %}

{% block title %}Login - Standard Survival Minecraft Server{% endblock %}

{% block select_login %}selected{% endblock %}
{% block content %}
  <div id="main">
    <div class="center-section">
      <form id="login-form" action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <h2>Log in</h2>
        <fieldset>
          {% include 'includes/flash_messages.html' %}
          <div class="control-group">
            {{ form.username.label }}
            <div class="control">
              {{ form.username() }}
              <span class="control-errors">{% if form.username.errors %}{{ form.username.errors[0] }}{% endif %}</span>
            </div>
          </div>
          
          <div class="control-group">
            {{ form.password.label }}
            <div class="control">
              {{ form.password() }}
              <span class="control-errors">{% if form.password.errors %}{{ form.password.errors[0] }}{% endif %}</span>
            </div>
          </div>
          
          <div class="control-group">
            <div class="control">
              <input class="btn" type="submit" value="Log in">
            </div>
          </div>

          <div class="control-group">
            <div class="control">
              <a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
            </div>
          </div>
          <hr>
          <p class="help">
            To create an account, log into the Minecraft server and type the <code>/register</code> command.
          </p>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}


