{% extends "base.html" %}

{% block title %}
    {% if player %}
        {{ player.displayname }} {% if player.nickname %}({{ player.username }}){% endif %} - {{ server.address }} - Standard Survival Minecraft Server
    {% else %}
        {{ username or 'Player' }} - {{ server.address }} - Standard Survival Minecraft Server
    {% endif %}
{% endblock %}

{% block description %}
    {% if player %}
        {{ player.displayname }}'s rank info, kills, deaths and playtime info on {{ server.address }}
    {% endif %}
{% endblock %}

{% block select_player %}{% if current_user.username == username %}selected{% endif %}{% endblock %}

{% block content %}
    <div class="container">
        {% include 'includes/flash_messages.html' %}
        {% if player %}
        <div class="border-section player-section">
            <div class="section-header">
                <div class="pull-right">
                    {% if current_user and player.user != current_user %}
                        <a class="btn btn-lite" href="{{ url_for('messages', username=player.username) }}">Send Message</a>
                    {% endif %}
                </div>
                {{ player.username|face_large }}
                <div class="player-detail">
                    <h2>
                        {{ player.displayname_html|safe }}
                    </h2>
                    {% if player.nickname %}
                        <h3>
                            ({{ player.username }})
                        </h3>
                    {% endif %}
                    <div class="player-uuid">
                        {{ player.display_uuid }}
                    </div>
                </div>
            </div>
            <div class="section-inner">
                <h4>Global stats</h4>
                <div class="section-stat">
                    <div class="stat-name">Total time played</div>
                    <div class="stat-value">
                        {{ total_time }}
                    </div>
                </div>
                <div class="section-stat">
                    <div class="stat-name">First seen</div>
                    <div class="stat-value">
                        {{ first_ever_seen|from_now }}
                    </div>
                </div>
                <div class="section-stat">
                    <div class="stat-name">Last seen</div>
                    <div class="stat-value">
                        {% if online_now %}
                            Now
                        {% else %}
                            {{ last_seen|from_now }}
                        {% endif %}
                    </div>
                </div>
                {% if player.user %}
                    {% with profile = player.user.forum_profile, last_post = profile.last_post %}
                        {% if profile and profile.post_count and last_post %}
                            <br>
                            <div class="section-stat">
                                <div class="stat-name">Forum posts</div>
                                <div class="stat-value">
                                    <a href="{{ url_for('forum_search', user_id=player.user.id) }}">
                                        {{ profile.post_count }}
                                    </a>
                                </div>
                            </div>
                            <div class="section-stat">
                                <div class="stat-name">Last post</div>
                                <div class="stat-value">
                                    <a href="{{ last_post.url }}">
                                        {{ last_post.created|from_now }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% with past_usernames = player.past_usernames %}
                    {% if past_usernames %}
                        <br>
                        <div class="section-stat">
                            <div class="stat-name">Past usernames</div>
                            <div class="stat-value">
                                {{ past_usernames|join(', ') }}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% if player.titles %}
                    <br>
                    <div class="section-stat">
                        <div class="stat-name">Titles</div>
                            <div class="stat-value">
                                {% for title in player.titles %}
                                    <span class="player-title">{{ title.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="border-section player-section">
            <div class="section-sidebar-area">
                <div class="sidebar">
                    <ul>
                        {% for s in servers %}
                            <a href="{{ url_for('player', server_id=s.id, username=player.username) }}">
                                <li class="tooltip {% if s == server %}selected{% endif %}" title="Address: {{ s.address }}" >{{ s.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                {% if server_stats %}
                    <div class="sidebar-details server-details">
                        <h4>Server stats</h4>
                        <div class="grid flush">
                            <div class="section-stat col-1-2">
                                <div class="stat-name">Rank</div>
                                <div class="stat-value">
                                    {{ server_stats.rank }}
                                </div>
                            </div>
                            <div class="section-stat col-1-2">
                                <div class="stat-name">Time played</div>
                                <div class="stat-value">
                                    {{ server_stats.time_spent }}
                                    {% if current_user and current_user.admin %}
                                        <a href="#" class="adjust-time"><i class="fa fa-pencil"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="section-stat col-1-2">
                                <div class="stat-name">Group</div>
                                <div class="stat-value">
                                    {% if server_stats.group %}
                                    <a href="{{ url_for('group', server_id=server.id, name=server_stats.group.name) }}">
                                        {{ server_stats.group.name }}
                                    </a>
                                    {% else %}
                                    none
                                    {% endif %}
                                </div>
                            </div>
                            <div class="section-stat col-1-2">
                                <div class="stat-name">PVP logs</div>
                                <div class="stat-value">
                                    {{ server_stats.pvp_logs }}
                                </div>
                            </div>
                        </div>
                        {% if server.id != 1 %}
                            <h4>Ore discoveries</h4>
                            <div class="grid flush">
                                {% for type, count in server_stats.ore_counts %}
                                    <div class="section-stat col-1-2">
                                        <div class="stat-name">{{ type }}</div>
                                        <div class="stat-value">
                                            {{ count }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h4>Combat</h4>
                        <div class="grid flush">
                            {{ render_combat_stats('PVP kills', combat_stats.pvp_kill_count, combat_stats.pvp_kills) }}
                            {{ render_combat_stats('PVP deaths', combat_stats.pvp_death_count, combat_stats.pvp_deaths) }}
                        </div>
                        <br>
                        <br>
                        <div class="grid flush">
                            {{ render_combat_stats('Other kills', combat_stats.other_kill_count, combat_stats.other_kills) }}
                            {{ render_combat_stats('Other deaths', combat_stats.other_death_count, combat_stats.other_deaths) }}
                        </div>
                    </div>
                {% else %}
                    <div class="sidebar-details server-details no-data">
                        <h3>No record of {{ player.displayname|safe }} on this server</h3>
                    </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <h2>No record of {{ username or 'that player'}} having played on any server</h2>
        {% endif %}
    </div>
{% endblock %}

{% macro render_combat_stats(label, count, values) -%}
    <div class="col-1-2">
        <div class="section-stat">
            <div class="stat-name">{{ label }}</div>
            <div class="stat-value">
                <b>{{ count }}</b>
            </div>
        </div>
        {% for value in values %}
            <div class="section-stat other {% if loop.index >= 10 %}hidden{% endif %}">
                <div class="stat-name">
                    {% if value.player %}
                        <a href="{{ url_for('player', server_id=server.id, username=value.player.username) }}">
                            {{ value.player.username|face_thumb(scaled_size=12) }}
                            {{ value.player.displayname_html|safe }}
                        </a>
                    {% else %}
                        {{ value.type }}
                    {% endif %}
                </div>
                <div class="stat-value">
                    {{ value.count }}
                </div>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
        {% if values|length > 10 %}
            <div class="load-all">
                <a href="#">show all...</a>
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% block js %}
    {{ super() }}
    {% if player %}
        <script type="application/javascript">
            $(document).ready(function() {
                $('.load-all').on('click', function() {
                    $(this).siblings('.other.hidden').removeClass('hidden');
                    $(this).addClass('hidden');
                    return false;
                });

                $('.adjust-time').on('click', function() {
                    var dialog = new StandardWeb.InputDialog('Adjust player time', 'Adjustment:', 'minutes');
                    dialog.positiveCallback = function(inputValue) {
                        $.ajax({
                            url: "{{ url_for('adjust_player_time', server_id=server.id, uuid=player.uuid) }}",
                            type: 'POST',
                            data: {adjustment: inputValue},
                            success: function() {
                                dialog.close();
                                location.reload();
                            }
                        });
                    };

                    dialog.show();
                    return false;
                });
            });
        </script>
    {% endif %}
{% endblock %}
