{% extends "base.html" %}

{% block title %}
    {% if player %}
        {{ player.displayname }} {% if player.nickname %}({{ player.username }}){% endif %} - {{ server.address }} - Standard Survival Minecraft Server
    {% else %}
        {{ username or 'Player' }} - {{ server.address }} - Standard Survival Minecraft Server
    {% endif %}
{% endblock %}

{% block description %}
    {% if player %}
        {{ player.displayname }}'s rank info, kills, deaths and playtime info on {{ server.address }}
    {% endif %}
{% endblock %}

{% block select_player %}{% if user.username == username %}selected{% endif %}{% endblock %}
{% block content %}
    <div class="container">
        {% include 'includes/flash_messages.html' %}
        {% if player %}
        <div class="player-section">
            <div class="player-header">
                {{ player.username|face_large }}
                <div class="player-detail">
                    <h2>
                        {{ player.displayname_html|safe }}
                    </h2>
                    {% if player.nickname %}
                        <h3>
                            ({{ player.username }})
                        </h3>
                    {% endif %}
                </div>
                <div class="messaging">
                    {% if user and player.user != user %}
                        <a class="btn btn-lite" href="{{ url_for('messages', username=player.username) }}">Send Message</a>
                    {% endif %}
                </div>
            </div>
            <div class="player-global-stats">
                <h4>Global stats</h4>
                <div class="stat">
                    <div class="stat-name">Total time played</div>
                    <div class="stat-value">
                        {{ total_time }}
                    </div>
                </div>
                <div class="stat">
                    <div class="stat-name">First seen</div>
                    <div class="stat-value">
                        {{ first_ever_seen|from_now }}
                    </div>
                </div>
                <div class="stat">
                    <div class="stat-name">Last seen</div>
                    <div class="stat-value">
                        {% if online_now %}
                            Now
                        {% else %}
                            {{ last_seen|from_now }}
                        {% endif %}
                    </div>
                </div>
                {% if player.user %}
                    {% with profile = player.user.forum_profile, last_post = profile.last_post %}
                        {% if profile and profile.post_count and last_post %}
                            <br>
                            <div class="stat">
                                <div class="stat-name">Forum posts</div>
                                <div class="stat-value">
                                    <a href="{{ url_for('forum_search', user_id=player.user.id) }}">
                                        {{ profile.post_count }}
                                    </a>
                                </div>
                            </div>
                            <div class="stat">
                                <div class="stat-name">Last post</div>
                                <div class="stat-value">
                                    <a href="{{ last_post.url }}">
                                        {{ last_post.created|from_now }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% with past_usernames = player.past_usernames %}
                    {% if past_usernames %}
                        <br>
                        <div class="stat">
                            <div class="stat-name">Past usernames</div>
                            <div class="stat-value">
                                {{ past_usernames|join(', ') }}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% if player.titles %}
                    <br>
                    <div class="stat">
                        <div class="stat-name">Titles</div>
                            <div class="stat-value">
                                {% for title in player.titles %}
                                    <span class="title">{{ title.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="player-section">
            <div class="player-servers">
                <div class="server-sidebar">
                    <ul>
                        {% for s in servers %}
                            <a href="{{ url_for('player', server_id=s.id, username=player.username) }}">
                                <li class="tooltip {% if s == server %}selected{% endif %}" title="Address: {{ s.address }}" >{{ s.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                {% if server_stats %}
                    <div class="server-details">
                        <h4>Server stats</h4>
                        <div class="stat">
                            <div class="stat-name">Rank</div>
                            <div class="stat-value">
                                {{ server_stats.rank }}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">Time played</div>
                            <div class="stat-value">
                                {{ server_stats.time_spent }}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">Group</div>
                            <div class="stat-value">
                                {% if server_stats.group %}
                                <a href="{{ url_for('group', server_id=server.id, name=server_stats.group.name) }}">
                                    {{ server_stats.group.name }}
                                </a>
                                {% else %}
                                none
                                {% endif %}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">PVP logs</div>
                            <div class="stat-value">
                                {{ server_stats.pvp_logs }}
                            </div>
                        </div>
                        {% if server.id != 1 %}
                            <h4>Ore discoveries</h4>
                            {% for type, count in server_stats.ore_counts %}
                                <div class="stat">
                                    <div class="stat-name">{{ type }}</div>
                                    <div class="stat-value">
                                        {{ count }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h4>Combat</h4>
                        <div class="stat">
                            <div class="stat-name">PVP kills</div>
                            <div class="stat-value">
                                <b>{{ combat_stats.pvp_kill_count }}</b>
                            </div>
                            <div class="other-stat">
                                {% for kill in combat_stats.pvp_kills %}
                                    <div class="stat-name {% if loop.index >= 10 %}hidden{% endif %}">
                                        <a href="{{ url_for('player', server_id=server.id, username=kill.player.username) }}">
                                            {{ kill.player.username|face_thumb(scaled_size=12) }}
                                            {{ kill.player.displayname_html|safe }}
                                        </a>
                                    </div>
                                    <div class="stat-value {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ kill.count }}
                                    </div>
                                {% endfor %}
                                {% if combat_stats.pvp_kills|length > 10 %}
                                    <div class="stat-name load-all">
                                        <a href="#">show all...</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">PVP deaths</div>
                            <div class="stat-value">
                                <b>{{ combat_stats.pvp_death_count }}</b>
                            </div>
                            <div class="other-stat">
                                {% for death in combat_stats.pvp_deaths %}
                                    <div class="stat-name {% if loop.index >= 10 %}hidden{% endif %}">
                                        <a href="{{ url_for('player', server_id=server.id, username=death.player.username) }}">
                                            {{ death.player.username|face_thumb(scaled_size=12) }}
                                            {{ death.player.displayname_html|safe }}
                                        </a>
                                    </div>
                                    <div class="stat-value {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ death.count }}
                                    </div>
                                {% endfor %}
                                {% if combat_stats.pvp_deaths|length > 10 %}
                                    <div class="stat-name load-all">
                                        <a href="#">show all...</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="stat">
                            <div class="stat-name">Other kills</div>
                            <div class="stat-value">
                                <b>{{ combat_stats.other_kill_count }}</b>
                            </div>
                            <div class="other-stat">
                                {% for kill in combat_stats.other_kills %}
                                    <div class="stat-name {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ kill.type }}
                                    </div>
                                    <div class="stat-value {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ kill.count }}
                                    </div>
                                {% endfor %}
                                {% if combat_stats.other_kills|length > 10 %}
                                    <div class="stat-name load-all">
                                        <a href="#">show all...</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="stat">
                            <div class="stat-name">Other deaths</div>
                            <div class="stat-value">
                                <b>{{ combat_stats.other_death_count }}</b>
                            </div>
                            <div class="other-stat">
                                {% for death in combat_stats.other_deaths %}
                                    <div class="stat-name {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ death.type }}
                                    </div>
                                    <div class="stat-value {% if loop.index >= 10 %}hidden{% endif %}">
                                        {{ death.count }}
                                    </div>
                                {% endfor %}
                                {% if combat_stats.other_deaths|length > 10 %}
                                    <div class="stat-name load-all">
                                        <a href="#">show all...</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="server-details no-data">
                        <h3>No record of {{ player.displayname|safe }} on this server</h3>
                    </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <h2>No record of {{ username or 'that player'}} having played on any server</h2>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {
            $('.load-all').on('click', function() {
                $(this).closest('.other-stat').find('.hidden').removeClass('hidden');
                $(this).addClass('hidden');
                return false;
            });
        });
    </script>
{% endblock %}
