{% extends "base.html" %}

{% block title %}Reset Password - Standard Survival Minecraft Server{% endblock %}

{% from 'includes/forms.html' import render_field %}

{% block content %}
  <div class="container">
    <div class="center-section">
      <form id="verify-form" action="{{ url_for('reset_password', token=email_token.token) }}" method="post">
        {{ form.hidden_tag() }}
        <h2>Reset your password</h2>
        <fieldset>
          {% include 'includes/flash_messages.html' %}
          <div class="control-group">
            <label>Username</label>
            <div class="control">{{ reset_user.player.username }}</div>
          </div>

          {{ render_field(form.password) }}
          {{ render_field(form.confirm_password) }}

          <div class="control-group">
            <div class="control">
              <input class="btn" type="submit" value="Reset Password">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}


