{% extends "base.html" %}

{% block title %}Player Search - Standard Survival Minecraft Server{% endblock %}

{% block content %}
    <div class="container">
        {% if query %}
            <h2>Player Search - "{{ query }}"</h2>
        {% else %}
            <h2>Player Search</h2>
        {% endif %}

        <form class="form-inline" method="GET" action="{{ url_for('player_search') }}">
            <input class="placeholder" type="text" name="q" placeholder="Username or Nickname" value="{{ query }}"/>
            <input class="btn btn-lite" type="submit" value="Search" />
        </form>

        {% if query %}
            <ul class="search-list lite-anchor">
            {% for player in results %}
                <li>
                    <a href="{{ url_for('player', username=player.username) }}">
                        {{ player.uuid|face_thumb }}
                        {{ player.displayname_html|safe }}
                        {% if player.nickname %}
                            ({{ player.username }})
                        {% endif %}
                    </a><br />
                </li>
            {% else %}
                No results found
            {% endfor %}
            </ul>

            <div class="search-pager">
                {% set show_next = results|length == page_size %}
                {% if page > 0 %}
                    <a href="{{ url_for('player_search', q=query, p=page - 1) }}">Previous</a>
                {% endif %}
                {% if page > 0 and show_next %}
                    |
                {% endif %}
                {% if show_next %}
                    <a href="{{ url_for('player_search', q=query, p=page + 1) }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
