{% extends "base.html" %}

{% block title %}Player Search - Standard Survival Minecraft Server{% endblock %}

{% block content %}
    <div id="main">
        {% if query %}
            <h2>Player Search - "{{ query }}"</h2>
        {% else %}
            <h2>Player Search</h2>
        {% endif %}

        <form class="form-inline search-form" method="GET" action="{{ url_for('player_search') }}">
            <input class="placeholder" type="text" name="q" placeholder="Username or Nickname" value="{{ query }}"/>
            <input type="submit" value="Search" />
        </form>

        <br />
        <br />
        
        {% for player in results %}
            <div class="search-row">
                <a href="{{ url_for('player', username=player.username) }}">
                    {{ player.username|face_thumb }}
                    {{ player.displayname_html|safe }}
                    {% if player.nickname %}
                        ({{ player.username }})
                    {% endif %}
                </a><br />
            </div>
        {% else %}
            No results found
        {% endfor %}

        <div class="search-pager">
        {% if page > 0 %}
            <a href="{{ url_for('player_search', q=query, p=page - 1) }}">Previous</a>
        {% endif %}
        {% if page > 0 and show_next %}
            |
        {% endif %}
        {% if show_next %}
            <a href="{{ url_for('player_search', q=query, p=page + 1) }}">Next</a>
        {% endif %}
        </div>
    </div>
{% endblock %}
