{% extends "base.html" %}

{% block title %}Groups guide - Standard Survival Minecraft Server{% endblock %}

{% block description %}Guide for Groups on the Standard Survival Minecraft Server{% endblock %}

{% block select_guide %}selected{% endblock %}

{% block content %}
    <div class="container">
        <h2><a href="{{ url_for('guide') }}">Guide</a> &rarr; Groups</h2>
        <h3>Permission levels</h3>
        <p>
            Groups have a <b>leader [L]</b>, <b>moderators [M]</b>, and <b>normal members [G]</b>. The leader has access to all group related commands. Moderators have access to claim related commands, inviting and kicking members. Normal members have access to the rest.
        </p>
        <h3>Land and Members</h3>
        <p>
            The max amount of claims always start as 5 for new groups. Every week starting on this creation date, the max claims will go up by 1 as long as the group is still active. A group is active as long as there is at least one member still in the group. Members are auto-kicked if they don't log in for 21 days.
        </p>
        <h3>Locks</h3>
        <p>
            Although chests and other containers will not be accessible to non-group players, you may still want to control access to specific members within your group. You can do this with locks.
        </p>
        <p>
            You can lock a chest by looking at it and typing <code>/g lock</code> as long as it is not already locked. You will now own this lock and be the only one with access to it. Giving access to another group member is as simple as typing <code>/g lock add &lt;player name&gt;</code> while looking at the chest.
        </p>
        <h3>Commands</h3>
        <p>
            Here are the available commands (<b>[L]</b> symbolizes commands only available to leaders, <b>[L, M]</b> for leaders and moderators):
            <ul class="soft-list">
                <li><b>/g adjustmaxpower &lt;value&gt;</b> - Controls your group's max power and power damage</li>
                <li><b>/g autolock [add/remove/public/info/unlock]</b> - Lock several blocks by punching them</li>
                <li><b>/g autolock off</b> - Disable autolock</li>
                <li><b>/g chat</b> - Switch chat modes between public chat, and group chat and friend chat</li>
                <li><b>/g claim</b> - Claim the chunk you are in for your group <b>[L, M]</b></li>
                <li><b>/g create &lt;group name&gt;</b> - Create a new group</li>
                <li><b>/g destroy</b> - Destroy your group <b>[L]</b></li>
                <li><b>/g info [group name]</b> - Show info about your group or another group</li>
                <li><b>/g invite &lt;player name&gt;</b> - Invite another player to your group <b>[L, M]</b></li>
                <li><b>/g friend &lt;group name&gt;</b> - Friend another group <b>[L]</b></li>
                <li><b>/g gm &lt;message&gt;</b> - Set a message for your group members to see upon login<b>[L][M]</b></li>
                <li><b>/g gm off</b> - Disable message shown to group members upon login<b>[L][M]</b></li>
                <li><b>/g join &lt;group name&gt;</b> - Attempt to join a group</li>
                <li><b>/g kick &lt;player name&gt;</b> - Kick a player from your group <b>[L, M]</b></li>
                <li><b>/g leader &lt;player name&gt;</b> - Give another player leadership of your group <b>[L]</b></li>
                <li><b>/g leave</b> - Leave your group. If you are the only member, the group will be destroyed</li>
                <li><b>/g list [page]</b> - Show a list of the active groups on the server - see <a href="{{ url_for('groups') }}">this page</a></li>
                <li><b>/g lock</b> - Lock a block that you are looking at. Must be in your group's territory</li>
                <li><b>/g lock add &lt;player name&gt;</b> - Give another player access to your locked block</li>
                <li><b>/g lock remove &lt;player name&gt;</b> - Revoke a player's access to your locked block</li>
                <li><b>/g lock public</b> - Allow public non-group member access to the lock</li>
                <li><b>/g lock info</b> - Show info about a look that is being looked at</li>
                <li><b>/g map</b> - Toggle the in-game map showing your orientation and nearby groups</li>
                <li><b>/g mod &lt;player name&gt;</b> - Set a player as a group moderator <b>[L]</b></li>
                <li><b>/g power &lt;group name&gt;</b> - Show a group's current power</li>
                <li><b>/g rename &lt;new name&gt;</b> - Rename your group to a new name <b>[L, M]</b></li>
                <li><b>/g show claims</b> - Show a list of your claims in the world <b>[L, M]</b></li>
                <li><b>/g unclaim</b> - Unclaim the chunk you are in <b>[L, M]</b></li>
                <li><b>/g unclaim all</b> - Unclaim all land <b>[L, M]</b></li>
                <li><b>/g unclaim &lt;x z&gt;</b> - Unclaim a remote chunk in the world <b>[L, M]</b></li>
                <li><b>/g unfriend &lt;group name&gt;</b> - Unfriend another group <b>[L]</b></li>
                <li><b>/g uninvite &lt;player name&gt;</b> - Revoke an invitation to a player <b>[L, M]</b></li>
                <li><b>/g unlock</b> - Unlock a block you own that you are looking at</li>
                <li><b>/g unmod &lt;player name&gt;</b> - Revoke moderator status from a group member <b>[L]</b></li>
            </ul>
        </p>
    </div>
{% endblock %}
