*.log
*.pot
*.pyc
*.un~
local_settings.py
.DS_Store
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
standardweb/faces/*/*
standardweb/static/css/all.min.css
standardweb/static/js/all.min.js
standardweb/attachments
.webassets-cache/
