*.log
*.pot
*.pyc
*.un~
.idea/
local_settings.py
.DS_Store
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
standardweb/faces/*/*
env/
gen/
standardweb/attachments
node_modules/
.webassets-cache/
*.dat
