{% extends 'emails/base.html' %}

{% block content %}
    <h3>Hi {{ username }}!</h3>
    <p>
        {% if post_player %}
            <a href="{{ post_player_url }}">{{ post_player.displayname_html|safe }}</a>
        {% else %}
            {{ post_username }}
        {% endif %}
        just posted a new <a href="{{ post_url }}">reply</a> in a the topic <a href="{{ topic_url }}">{{ topic_name }}</a>.
    </p>
    <br>
    <p>No longer interested in this topic? Click here to unsubscribe: <a href="{{ unsubscribe_topic_url }}">{{ unsubscribe_topic_url }}</a>.</p>
{% endblock %}
