{% block content %}
{% endblock %}
{% if notifications_url %}
    See all your notifications here: <a href="{{ notifications_url }}">{{ notifications_url }}</a>
{% endif %}
<br>
--
<br>
Standard Survival Minecraft Server - <a href="http://standardsurvival.com">standardsurvival.com</a>
<br>
<br>
<div style="color: #bbb; font-size: 0.8em">
    This email was sent to {{ to_email }}
    <br>
    {% if unsubscribe_url %}
        To stop receiving this type of email: <a href="{{ unsubscribe_url }}">unsubscribe</a> -
    {% endif %}
    <a href="{{ preferences_url }}">email preferences</a>
    {% if reply_token %}
    <br>
    <p style="color: #aaa; font-size: 0.4em">--{{ reply_token }}--</p>
    {% endif %}
</div>
