{% block playerlist %}
  {% if stats %}
    <b>Ticks per second: {{ stats.tps }}</b><br><br>
    <b>Player count: {{ stats.num_players }} / {{ stats.max_players }}</b><br><br>
    {% if stats.players %}
      <b>Players online:</b>
      {% for player in stats.players %}
        <div>
          <a href="{{url_for('player', username=player.username, server_id=stats.server_id)}}">
            <span>
              {{ player.username|face_thumb }}
              {{ player.displayname_html|safe }}
            </span>
          </a>
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
    <b>Uh-oh! The server doesn't appear to be running!</b>
  {% endif %}
{% endblock %}
