{% extends "base.html" %}

{% block title %}Messages - Standard Survival Minecraft Server{% endblock %}

{% from 'messages/includes/message_row.html' import message_row %}

{% block content %}
    <div class="container">
        {% include 'includes/flash_messages.html' %}
        <h2>Messages</h2>
        <div id="messages"></div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    {% assets "js_messages" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="application/javascript">
        React.render(
            React.createElement(StandardWeb.reactComponents.Messages),
            document.getElementById('messages')
        );
    </script>
{% endblock %}
