{% extends "settings/base.html" %}

{% block title %}Change Password - Standard Survival Minecraft Server{% endblock %}

{% block settings_content %}
    <form method="POST" action="{{ url_for('change_password_settings') }}">
        {{ form.hidden_tag() }}
        <div class="control-group">
            {{ form.current_password.label }}
            <span class="control-errors">{% if form.current_password.errors %}{{ form.current_password.errors[0] }}{% endif %}</span>
            <div class="control">{{ form.current_password() }}</div>
        </div>
        <div class="control-group">
            {{ form.new_password.label }}
            <span class="control-errors">{% if form.new_password.errors %}{{ form.new_password.errors[0] }}{% endif %}</span>
            <div class="control">{{ form.new_password() }}</div>
        </div>
        <div class="control-group">
            {{ form.confirm_new_password.label }}
            <span class="control-errors">{% if form.confirm_new_password.errors %}{{ form.confirm_new_password.errors[0] }}{% endif %}</span>
            <div class="control">{{ form.confirm_new_password() }}</div>
        </div>
        <div class="control-group">
            <div class="control">
                <input class="btn tb" type="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock %}
