{% extends "settings/base.html" %}

{% block title %}Change Password - Standard Survival Minecraft Server{% endblock %}

{% from 'includes/forms.html' import render_field %}

{% block settings_content %}
    <form method="POST" action="{{ url_for('change_password_settings') }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.current_password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.confirm_new_password) }}
        <div class="control-group">
            <div class="control">
                <input class="btn tb" type="submit" value="Save">
            </div>
        </div>
        <p><b>Note:</b> changing your password will sign you out of all other active browser sessions</p>
    </form>
{% endblock %}
