

.form-inline {
    display: inline;
}

.server-selector {
    margin-top: 20px;
    font-size: 15pt;
}

.server-selector > .selected {
    color: #AAA;
}

.group-header {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.settings-section {
    border: 1px solid #ccc;
    font-size: 13px;
    color: #666;
    background: #fefefe;
}

.settings-section .settings-options {
    width: 200px;
    float: left;
    max-height: 75vh;
    overflow: auto;
}

.settings-section .settings-options a {
    color: #222;
}

.settings-section .settings-options .option {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.settings-section .settings-options .option:hover {
    background: #f5f5f5;
}

.settings-section .settings-options .option.active {
    background: #eee;
}

.settings-section .settings-content {
    border-left: 1px solid #ddd;
    margin-left: 200px;
    min-height: 400px;
    padding: 20px;
}

.settings-section h3 {
    margin: 0;
}

.settings-section .settings-content .mfa-img {
    width: 200px;
    height: 200px;
}

.settings-section .settings-content .control-group {
    margin: 0 0 20px;
}

.settings-section .settings-content label {
    font-size: 14px;
    float: none;
}

.settings-section .settings-content .control {
    margin: 8px 0;
}

.settings-section .settings-content .control input[type='text'] {
    min-width: 40%;
    padding: 5px;
}

.settings-section .settings-content .notification-table {
    width: 100%;
    border-collapse: collapse;
}

.settings-section .settings-content .notification-table td {
    border-bottom: 1px solid #eee;
    line-height: 22px;
}

.settings-section .settings-content .notification-table .checkbox {
    width: 80px;
    text-align: center;
}

.face-large {
    border: 1px solid #D8D8D8 !important;
}

.face-thumb {
    border: 1px solid #D8D8D8 !important;
    margin-bottom: -2px;
}

.ranking-table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.ranking-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    position: relative;
}

.ranking-table td {
    padding-top: 3px;
}

.ranking-table .rank {
    width: 22px;
    text-align: right;
    border-right: 1px solid #ddd;
}

.ranking-table .username {
    padding-left: 4px;
    border-right: 1px solid #ddd;
}

.ranking-table .timeSpent {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

.group-lists {
    font-size: 13px;
}

.group-table {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-collapse: collapse;
}

.group-table h4 {
    margin: 0;
}

.group-table tr {
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
}

.group-table tr:hover {
    background: #f9f9f9;
}

.group-table td {
    text-align: center;
    padding: 30px;
}

.group-table td:nth-child(1) {
    width: 35%;
    text-align: left;
}

.group-table td:nth-child(2) {
    width: 10%;
    text-align: right;
}

.group-table td:nth-child(3) {
    width: 20%;
    text-align: right;
}

.groups .pages {
    font-size: 14px;
    display: inline-block;
    margin: 16px 0;
}

.groups .pages span {
    padding: 2px 5px;
}

.groups .pages a {
    background: #fff;
    color: #696969;
    border: 1px solid #ddd;
    padding: 2px 4px;
}

.leaderboard-section .subtitle {
    color: #888;
    font-size: 14px;
}

.leaderboard-table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    border-collapse: collapse;
}

.leaderboard-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    position: relative;
}

.leaderboard-table td {
    padding-top: 3px;
}

.leaderboard-table .rank {
    width: 22px;
    text-align: right;
    border-right: 1px solid #ddd;
}

.leaderboard-table .player {
    padding-left: 4px;
    border-right: 1px solid #ddd;
}

.leaderboard-table .count {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
    width: 1px;
    white-space: nowrap;
}


.search-list {
    margin: 0;
    padding: 0;
}

.search-list li {
    font-size: 14pt;
    list-style: none;
}

.search-pager {
    margin: 10px 0;
}

.search-form input[type=text] {
    width: 200px;
    margin: 0 0 20px;
}
