body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-color: #F5F5F5;
    color: #333;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #ccc;
    padding: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border-radius: 4px;
    font: inherit;
}

code {
    color: #db382d;
    background-color: #eee;
    padding: 1px 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#header {
    background-color: #222;
    text-align: left;
    padding: 10px 0 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.8);
    box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

#header #inner {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

#nav-menu {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    display: inline-block;
}

#nav-menu li a {
    color: #bbb;
    margin-right: 10px;
}

#nav-menu li a:hover, #nav-menu li a.selected {
    color: #fff;
}

#header #account {
    float: right;
}

#header #account a {
    color: #bbb;
}

#header #account a:hover {
    color: #fff;
}

#header #account .face-thumb {
    border: 0 !important;
    margin-right: 4px;
}

#header #account a.messages {
    position: relative;
    margin-right: 5px;
}

#header #account a.messages.new {
    color: #eee;
}

#header #account .messages.new .new-count {
    border-radius: 3px;
    font-size: 11px;
    padding: 1px 2px;
    background: #dc0d17;
    color: #fff !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    position: absolute;
    right: 0;
    bottom: 5px;
}

#header #account .messages:not(.new) .new-count {
    display: none;
}

#container {
    text-align: left;
}

#main {
    margin: 0 auto;
    width: 960px;
    padding-bottom: 40px;
}

#left-section {
    width: 740px;
    float: left;
    margin-bottom: 30px;
}

#sidebar {
    width: 180px;
    float: right;
}

#sub-header {
    background-color: #dfdfdf;
    text-align: left;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
}

#sub-header h1 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 8px;
}

#sub-header #inner {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.nav-header {
    height: 40px;
    text-align: left;
    
    border-bottom: 1px solid #aaa;
    
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.nav-header .inner {
    margin: auto;
    width: 960px;
}

.nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #bbb;
}

.nav-header li {
    margin-right: -4px;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.nav-header li.selected a {
    background-color: #666 !important;
    box-shadow: inset 0 3px 6px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: default;
}

.nav-header li a {
    color: #222;
    padding: 0 11px;
    border-right: 1px solid #bbb;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.nav-header li a:hover {
    background-color: #fff;
}

.nav-header li a.disabled {
    color: #aaa;
}

.nav-header li a.disabled:hover {
    background: #e0e0e0;
    cursor: default;
}

.sub-header {
    height: 30px;
    text-align: left;
    
    border-bottom: 1px solid #aaa;
    
    background: #ddd;
}

.sub-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #bbb;
}

.sub-header li {
    margin-right: -4px;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.sub-header li div {
    color: #222;
    padding: 0 11px;
    border-right: 1px solid #bbb;
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}

#address {
    cursor: pointer;
}

span.stat {
    color: #555;
    margin-left: 10px;
}

h1 {
    font-size: 3.8em;
    margin-bottom: 0;
    text-shadow: 1px 1px #bfbfbf;
}

h2 {
    font-size: 1.9em;
    margin-top: 30px;
}

h3 {
    font-size: 23px;
}

a {
    color: #1a76b6;
    text-decoration: none;
}

a:hover {
    color: #104b73;
}

fieldset {
    border: none;
}

.btn {
    display: inline-block;
    color: #111 !important;
    font-size: 0.9em;
    cursor: pointer;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    padding: 6px 14px;
    background-color: #f5f5f5;
    background: linear-gradient(to top,#e1e1e1 0%,#fff 100%);
    background: -webkit-linear-gradient(bottom,#e1e1e1 0%,#fff 100%);
    font-weight: normal;
}

.btn:hover,.btn:active {
    background-image: none;
    background-color: #e6e6e6;
}

.btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:disabled {
    cursor: default;
    background: #ececec !important;
    color: #8b8b8b !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-lite {
    color: #6a6a6a;
    border: 1px solid #c7c7c7;
    padding: 6px 10px;
    text-align: center;
    border-radius: 0;
    background: #fbfbfb;
    background: -webkit-linear-gradient(top, #fbfbfb, #f3f3f3);
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbfbfb 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

.btn.btn-lite:hover {
    background: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background: -moz-linear-gradient(top,  #fefefe 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

.btn.btn-lite:active {
    background: #e4e4e4;
    -webkit-box-shadow:  inset 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:  inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown.open a {
    color: #fff !important;
}

.dropdown .options {
    display: none;
    list-style: none;
    position: absolute;
    background: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 6px;
    padding: 6px 0;
    margin-top: 11px;
    right: 0;
    min-width: 140px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown .options:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.1);
    position: absolute;
    top: -7px;
    right: 24px;
}

.dropdown .options:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    right: 25px;
}

.dropdown .options i {
    width: 32px;
    text-align: center;
}

.dropdown .options a {
    display: block;
    padding: 4px 8px;
    color: #1f1f1f !important;
}

.dropdown .options a:hover {
    background: #3f3f3f;
    color: #fff !important;
}

.caret {
    display: inline-block;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#caption {
    color: #A8A8A8;
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 5px;
}

#splash img {
    border: 1px solid #D8D8D8;
    margin: 0 10px 10px 0;
}

.player-list span {
    display: inline-block;
}

.player-list .refresh-button {
    cursor: pointer;
}

.player-list a, .ranking-table a, .player-stat-section a, .leaderboard-table a, .group-table a, .search-list a {
    color: #545454;
}

.player-list a:hover, .ranking-table a:hover, .player-stat-section a:hover, .leaderboard-table a:hover, .group-table a:hover, .search-list a:hover {
    color: #AAA;
}

#graph-tooltip {
    font-size: 10pt;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.latest-news .title {
    font-weight: bold;
}

.latest-news .detail {
    font-size: 10pt;
}

.center-section {
    margin: auto;
    width: 600px;
    color: #626262;
}

.center-section fieldset {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    padding: 20px;
}

.center-section .help {
    font-size: 0.9em;
}

.center-section .errorlist {
    background-color: #fee;
    list-style-type: none;
    color: rgb(202, 0, 0);
    font-size: 1.0em;
    margin: 0 0 20px;
    padding: 8px;
    border: 1px solid #fdd;
}

.control-group {
    margin: 20px 0 20px;
}

.control-group label {
    display: inline;
    text-align: right;
    float: left;
    width: 210px;
    font-size: smaller;
    font-weight: bold;
}

.control-errors {
    color: rgb(202, 0, 0);
    font-size: smaller;
}

.control {
    display: block;
    margin-left: 230px;
    font-size: small;
}

.control input[type="text"], input[type="password"] {
    width: 160px;
    height: 17px;
    margin-top: -4px;
}

.error {
    color: rgb(202, 0, 0);
}

.admin-panel .admin-left {
    margin-right: 250px;
}

.admin-panel .console {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Lucida Console", Monaco, Consolas, monospace;
    font-size: 10px;
    background-color: #000;
    color: #eee;
    padding: 4px;
    list-style: none;
    -webkit-font-smoothing: none;
}

.admin-panel .console a {
    color: inherit;
}

.admin-panel .console-notification {
    float: right;
}

.admin-panel .console-textbox {
    width: 100%;
    height: 22px;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.admin-panel .console-textbox.len-warn {
    background: #fffbcd;
}

.admin-panel .admin-right {
    float: right;
    width: 250px;
}

.admin-panel .detail {
    float: right;
    width: 240px;
    border-right: 1px solid #999;
    height: 100%;
    display: table-cell;
}

.admin-panel .detail .detail-inner {
    padding: 10px;
}

.admin-panel .detail h3 {
    margin: 4px 0 0;
}

.admin-panel .detail .close {
    float: right;
    font-size: 12px;
    color: #222 !important;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0 4px 0 4px;
}

.admin-panel .detail .options {
    margin-top: 10px;
}

.admin-panel .detail .stats {
    background: #fff;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-bottom: 10px;
}

.admin-panel .detail .stats div {
    border-bottom: 1px solid #bbb;
}

.admin-panel .detail .stats div b {
    display: block;
    margin-left: 2px;
    font-size: 10px;
    color: #666;
}

.admin-panel .detail .stats div span {
    display: block;
    margin: 2px 6px 4px;
    font-size: 14px;
}

.admin-panel .players {
    overflow-y: scroll;
}

.admin-panel .players a {
    color: #555 !important;
}

.admin-panel .players .rank {
    float: right;
    font-size: 14px;
    color: #777;
}

.admin-panel .player {
    padding: 5px;
    height: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    background: #e5e5e5;
}

.admin-panel .player.selected {
    background: #ccc;
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #bebebe;
}

.admin-panel .player:hover {
    background: #fff;
}

.admin-panel .users {
    padding: 5px;
    overflow-y: scroll;
    border-top: 2px solid #aaa;
}

#chat-container {
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,1);
    box-shadow: 0 0 14px rgba(0,0,0,1);
}

#chat-container #chat {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Minecraft Regular";
    font-size: 13px;
    background-color: #222;
    color: #fff;
    padding: 4px;
    list-style: none;
}

#chat-container #chat a {
    color: inherit;
}

#chat-container #chat-textbox {
    width: 100%;
    height: 22px;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.command-list {
    list-style: none;
    padding-left: 10px;
}

.players-table {
    width: 70%;
    background-color: #444;
    color: #fff;
    margin: auto;
    margin-top: 30px;
    font-family: "Minecraft Regular";
    font-size: 12px;
    text-shadow: 2px 2px #222;
    padding: 0;
    border-collapse:collapse;
    table-layout:fixed;
}

.players-table tr {
    padding: 0;
    margin: 0;
}

.players-table td {
    border: 3px solid #2f2f2f;
    padding: 0;
    margin: 0;
    height: 18px;
}

.players-table .face-thumb {
    border: 1px solid #222 !important;
    margin-right: 4px;
}

.players-table a {
    color: #fff;
}

.form-inline {
    display: inline;
}

.server-selector {
    margin-top: 20px;
    font-size: 15pt;
}

.server-selector > .selected {
    color: #AAA;
}

.graph {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.group-header {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.player-header {
    background: #eaeaea;
    padding: 20px;
    box-sizing: border-box;
}

.player-header .player-detail {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.player-header .player-detail h2 {
    margin: 0;
    vertical-align: top;
}

.player-header .player-detail h3 {
    margin: 5px 0 0 0;
    vertical-align: top;
    color: #777;
    font-size: 17px;
}

.player-header .messaging {
    float: right;
    display: inline-block;
}

.player-section {
    border: 1px solid #ccc;
    margin-top: 40px;
    font-size: 13px;
    color: #666;
    background: #fefefe;
}

.player-section h4 {
    color: #999;
    text-transform: uppercase;
    margin: 0 0 10px;
    text-shadow: 0 1px #fff;
}

.player-section .stat {
    margin-bottom: 5px;
    vertical-align: top;
}

.player-section .stat-name {
    float: left;
    font-weight: bold;
    width: 110px
}

.player-section .stat-value {
    margin-left: 130px;
}

.player-section .title {
    color: #fff;
    background: #579AFF;
    border-radius: 6px;
    padding: 3px 6px;
    white-space: nowrap;
    margin-bottom: 4px;
}

.player-global-stats {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.player-servers {
    position: relative;
}

.player-servers .server-sidebar {
    display: inline-block;
    background: #eaeaea;
    border-right: 1px solid #ccc;
    position: absolute;
    width: 160px;
    top: 0;
    bottom: 0;
    box-shadow: inset -22px 0 14px -23px rgba(0,0,0,0.3);
}

.player-servers .server-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.player-servers .server-sidebar ul a {
    color: inherit;
}

.player-servers .server-sidebar ul li {
    padding: 17px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.player-servers .server-sidebar ul li:hover {
    background: #fff;
}

.player-servers .server-sidebar ul li.selected {
    background: #686868;
    color: #fff;
    box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.2);
}

.player-servers .server-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 160px;
    padding-bottom: 20px;
    width: 798px;
}

.player-servers .server-details.no-data {
    text-align: center;
    padding: 85px 0;
}

.player-servers .server-details.no-data h3 {
    color: #aaa;
}

.player-section .server-details h4 {
    padding: 20px 20px 7px 20px;
    border-bottom: 1px solid #d8d8d8;
}

.player-section .server-details .stat {
    display: inline-block;
    width: 390px;
}

.player-section .server-details .stat-name {
    width: 170px;
    margin-left: 70px;
}

.player-section .server-details .stat-value {
    margin-left: 180px;
}

.player-section .other-stat .stat-name {
    font-weight: normal;
}

.player-section .other-stat .stat-name.load-all {
    text-align: center;
}

.player-section .other-stat .stat-name.load-all a {
    color: #999;
}

.player-section .other-stat .stat-name.load-all a:hover {
    color: #ccc;
}

.player-section .other-stat a {
    color: #545454;
}

.player-section .other-stat a:hover {
    color: #AAA;
}

.messages-section {
    border: 1px solid #ccc;
    font-size: 13px;
    color: #666;
    background: #fefefe;
}

.messages-section .messages-contacts {
    width: 200px;
    float: left;
    max-height: 75vh;
    overflow: auto;
}

.messages-section .messages-contacts a {
    color: #222;
}

.messages-section .messages-contacts .contact {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.messages-section .messages-contacts .contact .time {
    color: #888;
    font-size: 11px;
}

.messages-section .messages-contacts .contact:hover {
    background: #f5f5f5;
}

.messages-section .messages-contacts .contact.active {
    background: #eee;
}

.messages-section .messages-contacts .contact.new {
    background: #F5F8FF;
    font-weight: bold;
}

.messages-section .messages-contacts .contact.new:hover {
    background: #EDF3FF;
}

.messages-section .messages-content {
    background: #eee;
    border-left: 1px solid #ddd;
    margin-left: 200px;
    min-height: 75vh;
    position: relative;
}

.messages-section .messages-content .contact-chooser {
    background: #fff;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.messages-section .messages-content input[type="text"] {
    width: 500px;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    resize: none;
}

.messages-section .messages-content .search-results {
    margin: 0;
    padding: 0;
}

.messages-section .messages-content .search-results a {
    color: #666;
}

.messages-section .messages-content .search-results .contact {
    background: #fff;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    height: 22px;
}

.messages-section .messages-content .search-results .contact:hover {
    background: #f5f5f5;
}

.messages-section .messages-content .search-results h4 {
    color: #D0D0D0;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #C0C0C0;
}

.messages-section .messages-content .message-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 44px;
    padding: 10px;
    overflow: auto;
}

.messages-section .messages-content .help {
    color: #D0D0D0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #C0C0C0;
}

.messages-section .messages-content .reply {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}

.messages-section .messages-content .reply .textwrapper {
    width: auto;
    overflow: hidden;
}

.messages-section .messages-content .reply textarea {
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 6px;
    height: 42px;
    width: 100%;
}

.messages-section input[type="text"],
.messages-section textarea:hover,
.messages-section button:hover,
.messages-section textarea:focus,
.messages-section button:focus {
    outline: none;
    -webkit-appearance: none;
}

.messages-section .messages-content .reply button {
    display: block;
    float: right;
    width: 60px;
    height: 43px;
    box-sizing: border-box;
}

.messages-section .message {
    margin: 5px 0;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
}

.messages-section .message.new {
    background: #F5F8FF;
}

.messages-section .message h4 {
    margin: 0 0 10px 0;
}

.messages-section .message .time {
    float: right;
    font-size: 11px;
    color: #999;
}

.settings-section {
    border: 1px solid #ccc;
    font-size: 13px;
    color: #666;
    background: #fefefe;
}

.settings-section .settings-options {
    width: 200px;
    float: left;
    max-height: 75vh;
    overflow: auto;
}

.settings-section .settings-options a {
    color: #222;
}

.settings-section .settings-options .option {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.settings-section .settings-options .option:hover {
    background: #f5f5f5;
}

.settings-section .settings-options .option.active {
    background: #eee;
}

.settings-section .settings-content {
    border-left: 1px solid #ddd;
    margin-left: 200px;
    min-height: 400px;
    padding: 20px;
}

.settings-section h3 {
    margin: 0;
}

.settings-section .settings-content .control-group {
    margin: 0 0 20px;
}

.settings-section .settings-content label {
    font-size: 14px;
    float: none;
}

.settings-section .settings-content .control {
    margin: 8px 0;
}

.settings-section .settings-content .control input[type='text'] {
    min-width: 40%;
    padding: 5px;
}

.settings-section .settings-content .notification-table {
    width: 100%;
    border-collapse: collapse;
}

.settings-section .settings-content .notification-table td {
    border-bottom: 1px solid #eee;
    line-height: 22px;
}

.settings-section .settings-content .notification-table .checkbox {
    width: 80px;
    text-align: center;
}

.face-large {
    border: 1px solid #D8D8D8 !important;
}

.face-thumb {
    border: 1px solid #D8D8D8 !important;
    margin-bottom: -2px;
}

.tickLabel {
    font-size: 8pt;
}

.strong {
    font-weight: bold;
}

.ranking-table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.ranking-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    position: relative;
}

.ranking-table td {
    padding-top: 3px;
}

.ranking-table .rank {
    width: 22px;
    text-align: right;
    border-right: 1px solid #ddd;
}

.ranking-table .username {
    padding-left: 4px;
    border-right: 1px solid #ddd;
}

.ranking-table .timeSpent {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

.group-lists {
    font-size: 13px;
}

.group-table {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    border-collapse: collapse;
}

.group-table h4 {
    margin: 0;
}

.group-table tr {
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
}

.group-table tr:hover {
    background: #f9f9f9;
}

.group-table td {
    text-align: center;
    padding: 30px;
}

.group-table td:nth-child(1) {
    width: 35%;
    text-align: left;
}

.group-table td:nth-child(2) {
    width: 10%;
    text-align: right;
}

.group-table td:nth-child(3) {
    width: 20%;
    text-align: right;
}

.groups .pages {
    font-size: 14px;
    display: inline-block;
    margin: 16px 0;
}

.groups .pages span {
    padding: 2px 5px;
}

.groups .pages a {
    background: #fff;
    color: #696969;
    border: 1px solid #ddd;
    padding: 2px 4px;
}

.leaderboard-section {
    width: 49%;
    display: inline-block;
}

.leaderboard-section .subtitle {
    color: #888;
    font-size: 14px;
}

.leaderboard-table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    border-collapse: collapse;
}

.leaderboard-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    position: relative;
}

.leaderboard-table td {
    padding-top: 3px;
}

.leaderboard-table .rank {
    width: 22px;
    text-align: right;
    border-right: 1px solid #ddd;
}

.leaderboard-table .player {
    padding-left: 4px;
    border-right: 1px solid #ddd;
}

.leaderboard-table .count {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

.nav-pills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-pills li {
    padding: 8px 12px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 6px;
}

.nav-pills li.active {
    background: #999;
}

.nav-pills li.active a {
    color: #fff;
    cursor: default;
}

.search-list {
    margin: 0;
    padding: 0;
}

.search-list li {
    font-size: 14pt;
    list-style: none;
}

.search-pager {
    margin: 10px 0;
}

.search-form input[type=text] {
    width: 200px;
    margin: 0 0 20px;
}

.forum-table, .forum-topic-table {
    background: #fff;
    border-collapse: collapse;
    width: 100%;
}

.forum-table tr, .forum-topic-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #e0e0e0;
}

.forum-table tr:hover, .forum-topic-table tr:hover {
    background: #f9f9f9;
}

.forum-table td:nth-child(1), .forum-topic-table td:nth-child(1) {
    width: 4%;
    text-align: center;
}

.forum-table td:nth-child(2), .forum-topic-table td:nth-child(2) {
    padding: 10px 0;
    width: 60%;
}

.forum-table td:nth-child(3), .forum-topic-table td:nth-child(3) {
    width: 10%;
}

.forum-table .count, .forum-topic-table .count {
    font-size: 13px;
    text-align: right;
}

.forum-topic-table tr.sticky {
    background: #e0ffe6;
}

.forum-topic-table tr.sticky:hover {
    background: #ceffd2;
}

.forum-topic-table tr.admin {
    background: #e2f2ff;
}

.forum-topic-table tr.admin:hover {
    background: #daeaff;
}

.forum-topic-table tr.closed {
    color: #ccc;
}

.forum-topic-table tr.closed .description {
    color: #ccc;
}

.forum-topic-table tr.closed img {
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

.forum-topic-table tr.closed .ansi-container {
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

.forum-topic-table tr.closed a {
    color: #D3E3EE;
}

.forum-cell {
    padding: 10px;
}

.forum-info .description {
    font-size: 12px;
    color: #686868;
}

.forum-category {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.forum-content h4 {
    background: #3c3c3c;
    padding: 6px 8px;
    color: #fff;
    margin: 0;
}

.forum-content h4 a {
    color: #fff;
}

.forum-content .btn {
    font-size: 12px;
    padding: 5px 8px;
}

.forum-content .button-area {
    margin: 10px 0;
}

.forum-content .controls {
    float: right;
    position: relative;
    bottom: 4px;
}

.forum-content .controls a {
    font-size: 12px;
    margin: 0 0 0 10px;
}

.forum-content .pages {
    font-size: 14px;
    display: inline-block;
}

.forum-content .pages span {
    padding: 2px 5px;
}

.forum-content .pages a {
    background: #fff;
    color: #696969;
    border: 1px solid #ddd;
    padding: 2px 4px;
}

.forum-content .breadcrumbs {
    margin-bottom: 10px;
    font-size: 18px;
}

.forum-content .moderation-area {
    margin-top: 10px;
}

.topic-cell {
    font-size: 14px;
}

.topic-cell .pages a {
    font-size: 10px;
    padding: 1px 2px;
}

.topic-cell .pages a:hover {
    text-decoration: underline;
}

.topic-cell .name.active {
    font-weight: bold;
}

.topic-cell .description {
    margin-top: 2px;
    font-size: 12px;
    color: #686868;
}

.last-post-cell {
    font-size: 12px;
    padding: 10px;
}

.forum {
    border: 1px solid #ddd;
}

.forum-post {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.forum-post .post-author {
    background: #eaeaea;
    padding: 20px;
}

.forum-post .post-author.admin {
    background: #c7e7f3;
}

.forum-post .post-author .post-author-details {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.forum-post .post-author .post-author-details h5 {
    margin: 1px 0 2px 0;
    font-size: 16px;
}

.forum-post .post-author .post-author-admin {
    display: none;
}

.forum-post .post-author:hover .post-author-admin {
    display: inline-block;
    float: right;
    vertical-align: top;
}

.forum-post .post-content {
    padding: 10px;
    overflow-x: auto;
}

.forum-post .post-content blockquote {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #c7c7c7;
    margin: 4px 4px 10px;
}

.forum-post .post-content blockquote .quote-username {
    font-style: italic;
}

.forum-post .post-content img {
    max-width: 100%;
}

.forum-post.banned .post-content {
    opacity: 0.2;
    filter: Alpha(opacity=20);
}

.forum-post .post-extras {
    padding: 10px;
}

.forum-post .post-extras img {
    max-width: 100%;
}

.forum-post.banned .post-extras {
    opacity: 0.2;
    filter: Alpha(opacity=20);
}

.forum-post .post-details {
    background: #fff;
    padding: 10px;
    text-align: right;
    font-size: 14px;
}

.forum-post .post-details .updated {
    float: left;
    color: #888;
}

.forum-post.banned .post-details {
    opacity: 0.2;
    filter: Alpha(opacity=20);
}

.forum-post .search-match {
    background: #ff0;
    font-weight: bold;
}

.forum-form-section {
    background: #fff;
    border: 1px solid #ddd;
}

.forum-form-section fieldset {
    padding: 26px 30px;
}

.forum-form-section .control-group {
    margin: 0 0 14px;
}

.forum-form-section label {
    font-size: 14px;
    width: 100px;
    float: none;
}

.forum-form-section .control {
    margin-top: 4px;
    margin-left: 0;
}

.forum-form-section input[type='text'] {
    margin-top: 0;
    width: 30%;
}

.forum-form-section input[type='text'].big {
    width: 50%;
}

.forum-form-section textarea {
    width: 100%;
    height: 250px;
    resize: vertical;
}

.forum-form-section a {
    font-size: 12px;
}

.forum-search {
    margin-bottom: 20px;
}

.forum-search-empty {
    padding: 20px;
    background: #fff;
}

#refreshImage {
    margin-bottom: -2px;
}

.progress {
    background: url('../../images/progress.gif') no-repeat center;
}

.rank-star {
    float: left;
    margin-left: -18px;
    padding-top: 4px;
    background: url('../../images/star.gif') no-repeat center;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    color: #000;
}

.rank-star:hover {
    color: #4e4e4e;
}

.alert {
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}

fieldset > .alert {
    margin-top: 0;
}

.alert.error {
    background-color: #f2dede;
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
}

.alert.warning {
    background-color: #fcf8e3;
    color: #c09853;
    border: 1px solid #e5e6b6;
    border-radius: 4px;
}

.alert.info {
    background-color: #d9edf7;
    color: #3a87ad;
    border: 1px solid #bce8f1;
    border-radius: 4px;
}

.alert.success {
    background-color: #dff0d8;
    color: #468847;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

.alert h4 {
    margin: 0 0 2px;
    font-size: 15px;
}

.alert a {
    color: #1a76b6;
}

.alert a:hover {
    text-decoration: underline;
}

.alert a.close {
    float: right;
    text-decoration: none;
    cursor: pointer;
    color: #aaa;
    opacity: 0.4;
    filter: Alpha(opacity=40);
}

.small {
    font-size: 0.5em;
    margin-left: 10px;
    color: #888;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.anchor-nav {
    font-size: 1px;
    line-height: 1px;
}

@font-face {
    font-family:"Minecraft Regular";
    src:url("../../fonts/minecraft.eot?") format("eot"),
        url("../../fonts/minecraft.woff") format("woff"),
        url("../../fonts/minecraft.ttf") format("truetype"),
        url("../../fonts/minecraft.svg#Minecraft") format("svg");
    font-weight:normal;font-style:normal;
}

.ansi-container span {
    text-shadow: 1px 1px #444;
}

a:hover .ansi-container {
    opacity: 0.7;
}

.ansi1 { font-weight: bold; }.ansi3 { font-style: italic; }.ansi4 { text-decoration: underline; }.ansi9 { text-decoration: line-through; }.ansi30 { color: #000316; }.ansi31 { color: #aa0000; }.ansi32 { color: #00aa00; }.ansi33 { color: #aa5500; }.ansi34 { color: #0000aa; }.ansi35 { color: #E850A8; }.ansi36 { color: #00aaaa; }.ansi37 { color: #F5F1DE; }.ansi40 { background-color: #000316; }.ansi41 { background-color: #aa0000; }.ansi42 { background-color: #00aa00; }.ansi43 { background-color: #aa5500; }.ansi44 { background-color: #0000aa; }.ansi45 { background-color: #E850A8; }.ansi46 { background-color: #00aaaa; }.ansi47 { background-color: #F5F1DE; }.ansi38-16 { color: #000000; }.ansi48-16 { background: #000000; }.ansi38-17 { color: #00002a; }.ansi48-17 { background: #00002a; }.ansi38-18 { color: #000054; }.ansi48-18 { background: #000054; }.ansi38-19 { color: #00007e; }.ansi48-19 { background: #00007e; }.ansi38-20 { color: #0000a8; }.ansi48-20 { background: #0000a8; }.ansi38-21 { color: #0000d2; }.ansi48-21 { background: #0000d2; }.ansi38-52 { color: #2a0000; }.ansi48-52 { background: #2a0000; }.ansi38-53 { color: #2a002a; }.ansi48-53 { background: #2a002a; }.ansi38-54 { color: #2a0054; }.ansi48-54 { background: #2a0054; }.ansi38-55 { color: #2a007e; }.ansi48-55 { background: #2a007e; }.ansi38-56 { color: #2a00a8; }.ansi48-56 { background: #2a00a8; }.ansi38-57 { color: #2a00d2; }.ansi48-57 { background: #2a00d2; }.ansi38-88 { color: #540000; }.ansi48-88 { background: #540000; }.ansi38-89 { color: #54002a; }.ansi48-89 { background: #54002a; }.ansi38-90 { color: #540054; }.ansi48-90 { background: #540054; }.ansi38-91 { color: #54007e; }.ansi48-91 { background: #54007e; }.ansi38-92 { color: #5400a8; }.ansi48-92 { background: #5400a8; }.ansi38-93 { color: #5400d2; }.ansi48-93 { background: #5400d2; }.ansi38-124 { color: #7e0000; }.ansi48-124 { background: #7e0000; }.ansi38-125 { color: #7e002a; }.ansi48-125 { background: #7e002a; }.ansi38-126 { color: #7e0054; }.ansi48-126 { background: #7e0054; }.ansi38-127 { color: #7e007e; }.ansi48-127 { background: #7e007e; }.ansi38-128 { color: #7e00a8; }.ansi48-128 { background: #7e00a8; }.ansi38-129 { color: #7e00d2; }.ansi48-129 { background: #7e00d2; }.ansi38-160 { color: #a80000; }.ansi48-160 { background: #a80000; }.ansi38-161 { color: #a8002a; }.ansi48-161 { background: #a8002a; }.ansi38-162 { color: #a80054; }.ansi48-162 { background: #a80054; }.ansi38-163 { color: #a8007e; }.ansi48-163 { background: #a8007e; }.ansi38-164 { color: #a800a8; }.ansi48-164 { background: #a800a8; }.ansi38-165 { color: #a800d2; }.ansi48-165 { background: #a800d2; }.ansi38-196 { color: #d20000; }.ansi48-196 { background: #d20000; }.ansi38-197 { color: #d2002a; }.ansi48-197 { background: #d2002a; }.ansi38-198 { color: #d20054; }.ansi48-198 { background: #d20054; }.ansi38-199 { color: #d2007e; }.ansi48-199 { background: #d2007e; }.ansi38-200 { color: #d200a8; }.ansi48-200 { background: #d200a8; }.ansi38-201 { color: #d200d2; }.ansi48-201 { background: #d200d2; }.ansi38-22 { color: #002a00; }.ansi48-22 { background: #002a00; }.ansi38-23 { color: #002a2a; }.ansi48-23 { background: #002a2a; }.ansi38-24 { color: #002a54; }.ansi48-24 { background: #002a54; }.ansi38-25 { color: #002a7e; }.ansi48-25 { background: #002a7e; }.ansi38-26 { color: #002aa8; }.ansi48-26 { background: #002aa8; }.ansi38-27 { color: #002ad2; }.ansi48-27 { background: #002ad2; }.ansi38-58 { color: #2a2a00; }.ansi48-58 { background: #2a2a00; }.ansi38-59 { color: #2a2a2a; }.ansi48-59 { background: #2a2a2a; }.ansi38-60 { color: #2a2a54; }.ansi48-60 { background: #2a2a54; }.ansi38-61 { color: #2a2a7e; }.ansi48-61 { background: #2a2a7e; }.ansi38-62 { color: #2a2aa8; }.ansi48-62 { background: #2a2aa8; }.ansi38-63 { color: #2a2ad2; }.ansi48-63 { background: #2a2ad2; }.ansi38-94 { color: #542a00; }.ansi48-94 { background: #542a00; }.ansi38-95 { color: #542a2a; }.ansi48-95 { background: #542a2a; }.ansi38-96 { color: #542a54; }.ansi48-96 { background: #542a54; }.ansi38-97 { color: #542a7e; }.ansi48-97 { background: #542a7e; }.ansi38-98 { color: #542aa8; }.ansi48-98 { background: #542aa8; }.ansi38-99 { color: #542ad2; }.ansi48-99 { background: #542ad2; }.ansi38-130 { color: #7e2a00; }.ansi48-130 { background: #7e2a00; }.ansi38-131 { color: #7e2a2a; }.ansi48-131 { background: #7e2a2a; }.ansi38-132 { color: #7e2a54; }.ansi48-132 { background: #7e2a54; }.ansi38-133 { color: #7e2a7e; }.ansi48-133 { background: #7e2a7e; }.ansi38-134 { color: #7e2aa8; }.ansi48-134 { background: #7e2aa8; }.ansi38-135 { color: #7e2ad2; }.ansi48-135 { background: #7e2ad2; }.ansi38-166 { color: #a82a00; }.ansi48-166 { background: #a82a00; }.ansi38-167 { color: #a82a2a; }.ansi48-167 { background: #a82a2a; }.ansi38-168 { color: #a82a54; }.ansi48-168 { background: #a82a54; }.ansi38-169 { color: #a82a7e; }.ansi48-169 { background: #a82a7e; }.ansi38-170 { color: #a82aa8; }.ansi48-170 { background: #a82aa8; }.ansi38-171 { color: #a82ad2; }.ansi48-171 { background: #a82ad2; }.ansi38-202 { color: #d22a00; }.ansi48-202 { background: #d22a00; }.ansi38-203 { color: #d22a2a; }.ansi48-203 { background: #d22a2a; }.ansi38-204 { color: #d22a54; }.ansi48-204 { background: #d22a54; }.ansi38-205 { color: #d22a7e; }.ansi48-205 { background: #d22a7e; }.ansi38-206 { color: #d22aa8; }.ansi48-206 { background: #d22aa8; }.ansi38-207 { color: #d22ad2; }.ansi48-207 { background: #d22ad2; }.ansi38-28 { color: #005400; }.ansi48-28 { background: #005400; }.ansi38-29 { color: #00542a; }.ansi48-29 { background: #00542a; }.ansi38-30 { color: #005454; }.ansi48-30 { background: #005454; }.ansi38-31 { color: #00547e; }.ansi48-31 { background: #00547e; }.ansi38-32 { color: #0054a8; }.ansi48-32 { background: #0054a8; }.ansi38-33 { color: #0054d2; }.ansi48-33 { background: #0054d2; }.ansi38-64 { color: #2a5400; }.ansi48-64 { background: #2a5400; }.ansi38-65 { color: #2a542a; }.ansi48-65 { background: #2a542a; }.ansi38-66 { color: #2a5454; }.ansi48-66 { background: #2a5454; }.ansi38-67 { color: #2a547e; }.ansi48-67 { background: #2a547e; }.ansi38-68 { color: #2a54a8; }.ansi48-68 { background: #2a54a8; }.ansi38-69 { color: #2a54d2; }.ansi48-69 { background: #2a54d2; }.ansi38-100 { color: #545400; }.ansi48-100 { background: #545400; }.ansi38-101 { color: #54542a; }.ansi48-101 { background: #54542a; }.ansi38-102 { color: #545454; }.ansi48-102 { background: #545454; }.ansi38-103 { color: #54547e; }.ansi48-103 { background: #54547e; }.ansi38-104 { color: #5454a8; }.ansi48-104 { background: #5454a8; }.ansi38-105 { color: #5454d2; }.ansi48-105 { background: #5454d2; }.ansi38-136 { color: #7e5400; }.ansi48-136 { background: #7e5400; }.ansi38-137 { color: #7e542a; }.ansi48-137 { background: #7e542a; }.ansi38-138 { color: #7e5454; }.ansi48-138 { background: #7e5454; }.ansi38-139 { color: #7e547e; }.ansi48-139 { background: #7e547e; }.ansi38-140 { color: #7e54a8; }.ansi48-140 { background: #7e54a8; }.ansi38-141 { color: #7e54d2; }.ansi48-141 { background: #7e54d2; }.ansi38-172 { color: #a85400; }.ansi48-172 { background: #a85400; }.ansi38-173 { color: #a8542a; }.ansi48-173 { background: #a8542a; }.ansi38-174 { color: #a85454; }.ansi48-174 { background: #a85454; }.ansi38-175 { color: #a8547e; }.ansi48-175 { background: #a8547e; }.ansi38-176 { color: #a854a8; }.ansi48-176 { background: #a854a8; }.ansi38-177 { color: #a854d2; }.ansi48-177 { background: #a854d2; }.ansi38-208 { color: #d25400; }.ansi48-208 { background: #d25400; }.ansi38-209 { color: #d2542a; }.ansi48-209 { background: #d2542a; }.ansi38-210 { color: #d25454; }.ansi48-210 { background: #d25454; }.ansi38-211 { color: #d2547e; }.ansi48-211 { background: #d2547e; }.ansi38-212 { color: #d254a8; }.ansi48-212 { background: #d254a8; }.ansi38-213 { color: #d254d2; }.ansi48-213 { background: #d254d2; }.ansi38-34 { color: #007e00; }.ansi48-34 { background: #007e00; }.ansi38-35 { color: #007e2a; }.ansi48-35 { background: #007e2a; }.ansi38-36 { color: #007e54; }.ansi48-36 { background: #007e54; }.ansi38-37 { color: #007e7e; }.ansi48-37 { background: #007e7e; }.ansi38-38 { color: #007ea8; }.ansi48-38 { background: #007ea8; }.ansi38-39 { color: #007ed2; }.ansi48-39 { background: #007ed2; }.ansi38-70 { color: #2a7e00; }.ansi48-70 { background: #2a7e00; }.ansi38-71 { color: #2a7e2a; }.ansi48-71 { background: #2a7e2a; }.ansi38-72 { color: #2a7e54; }.ansi48-72 { background: #2a7e54; }.ansi38-73 { color: #2a7e7e; }.ansi48-73 { background: #2a7e7e; }.ansi38-74 { color: #2a7ea8; }.ansi48-74 { background: #2a7ea8; }.ansi38-75 { color: #2a7ed2; }.ansi48-75 { background: #2a7ed2; }.ansi38-106 { color: #547e00; }.ansi48-106 { background: #547e00; }.ansi38-107 { color: #547e2a; }.ansi48-107 { background: #547e2a; }.ansi38-108 { color: #547e54; }.ansi48-108 { background: #547e54; }.ansi38-109 { color: #547e7e; }.ansi48-109 { background: #547e7e; }.ansi38-110 { color: #547ea8; }.ansi48-110 { background: #547ea8; }.ansi38-111 { color: #547ed2; }.ansi48-111 { background: #547ed2; }.ansi38-142 { color: #7e7e00; }.ansi48-142 { background: #7e7e00; }.ansi38-143 { color: #7e7e2a; }.ansi48-143 { background: #7e7e2a; }.ansi38-144 { color: #7e7e54; }.ansi48-144 { background: #7e7e54; }.ansi38-145 { color: #7e7e7e; }.ansi48-145 { background: #7e7e7e; }.ansi38-146 { color: #7e7ea8; }.ansi48-146 { background: #7e7ea8; }.ansi38-147 { color: #7e7ed2; }.ansi48-147 { background: #7e7ed2; }.ansi38-178 { color: #a87e00; }.ansi48-178 { background: #a87e00; }.ansi38-179 { color: #a87e2a; }.ansi48-179 { background: #a87e2a; }.ansi38-180 { color: #a87e54; }.ansi48-180 { background: #a87e54; }.ansi38-181 { color: #a87e7e; }.ansi48-181 { background: #a87e7e; }.ansi38-182 { color: #a87ea8; }.ansi48-182 { background: #a87ea8; }.ansi38-183 { color: #a87ed2; }.ansi48-183 { background: #a87ed2; }.ansi38-214 { color: #d27e00; }.ansi48-214 { background: #d27e00; }.ansi38-215 { color: #d27e2a; }.ansi48-215 { background: #d27e2a; }.ansi38-216 { color: #d27e54; }.ansi48-216 { background: #d27e54; }.ansi38-217 { color: #d27e7e; }.ansi48-217 { background: #d27e7e; }.ansi38-218 { color: #d27ea8; }.ansi48-218 { background: #d27ea8; }.ansi38-219 { color: #d27ed2; }.ansi48-219 { background: #d27ed2; }.ansi38-40 { color: #00a800; }.ansi48-40 { background: #00a800; }.ansi38-41 { color: #00a82a; }.ansi48-41 { background: #00a82a; }.ansi38-42 { color: #00a854; }.ansi48-42 { background: #00a854; }.ansi38-43 { color: #00a87e; }.ansi48-43 { background: #00a87e; }.ansi38-44 { color: #00a8a8; }.ansi48-44 { background: #00a8a8; }.ansi38-45 { color: #00a8d2; }.ansi48-45 { background: #00a8d2; }.ansi38-76 { color: #2aa800; }.ansi48-76 { background: #2aa800; }.ansi38-77 { color: #2aa82a; }.ansi48-77 { background: #2aa82a; }.ansi38-78 { color: #2aa854; }.ansi48-78 { background: #2aa854; }.ansi38-79 { color: #2aa87e; }.ansi48-79 { background: #2aa87e; }.ansi38-80 { color: #2aa8a8; }.ansi48-80 { background: #2aa8a8; }.ansi38-81 { color: #2aa8d2; }.ansi48-81 { background: #2aa8d2; }.ansi38-112 { color: #54a800; }.ansi48-112 { background: #54a800; }.ansi38-113 { color: #54a82a; }.ansi48-113 { background: #54a82a; }.ansi38-114 { color: #54a854; }.ansi48-114 { background: #54a854; }.ansi38-115 { color: #54a87e; }.ansi48-115 { background: #54a87e; }.ansi38-116 { color: #54a8a8; }.ansi48-116 { background: #54a8a8; }.ansi38-117 { color: #54a8d2; }.ansi48-117 { background: #54a8d2; }.ansi38-148 { color: #7ea800; }.ansi48-148 { background: #7ea800; }.ansi38-149 { color: #7ea82a; }.ansi48-149 { background: #7ea82a; }.ansi38-150 { color: #7ea854; }.ansi48-150 { background: #7ea854; }.ansi38-151 { color: #7ea87e; }.ansi48-151 { background: #7ea87e; }.ansi38-152 { color: #7ea8a8; }.ansi48-152 { background: #7ea8a8; }.ansi38-153 { color: #7ea8d2; }.ansi48-153 { background: #7ea8d2; }.ansi38-184 { color: #a8a800; }.ansi48-184 { background: #a8a800; }.ansi38-185 { color: #a8a82a; }.ansi48-185 { background: #a8a82a; }.ansi38-186 { color: #a8a854; }.ansi48-186 { background: #a8a854; }.ansi38-187 { color: #a8a87e; }.ansi48-187 { background: #a8a87e; }.ansi38-188 { color: #a8a8a8; }.ansi48-188 { background: #a8a8a8; }.ansi38-189 { color: #a8a8d2; }.ansi48-189 { background: #a8a8d2; }.ansi38-220 { color: #d2a800; }.ansi48-220 { background: #d2a800; }.ansi38-221 { color: #d2a82a; }.ansi48-221 { background: #d2a82a; }.ansi38-222 { color: #d2a854; }.ansi48-222 { background: #d2a854; }.ansi38-223 { color: #d2a87e; }.ansi48-223 { background: #d2a87e; }.ansi38-224 { color: #d2a8a8; }.ansi48-224 { background: #d2a8a8; }.ansi38-225 { color: #d2a8d2; }.ansi48-225 { background: #d2a8d2; }.ansi38-46 { color: #00d200; }.ansi48-46 { background: #00d200; }.ansi38-47 { color: #00d22a; }.ansi48-47 { background: #00d22a; }.ansi38-48 { color: #00d254; }.ansi48-48 { background: #00d254; }.ansi38-49 { color: #00d27e; }.ansi48-49 { background: #00d27e; }.ansi38-50 { color: #00d2a8; }.ansi48-50 { background: #00d2a8; }.ansi38-51 { color: #00d2d2; }.ansi48-51 { background: #00d2d2; }.ansi38-82 { color: #2ad200; }.ansi48-82 { background: #2ad200; }.ansi38-83 { color: #2ad22a; }.ansi48-83 { background: #2ad22a; }.ansi38-84 { color: #2ad254; }.ansi48-84 { background: #2ad254; }.ansi38-85 { color: #2ad27e; }.ansi48-85 { background: #2ad27e; }.ansi38-86 { color: #2ad2a8; }.ansi48-86 { background: #2ad2a8; }.ansi38-87 { color: #2ad2d2; }.ansi48-87 { background: #2ad2d2; }.ansi38-118 { color: #54d200; }.ansi48-118 { background: #54d200; }.ansi38-119 { color: #54d22a; }.ansi48-119 { background: #54d22a; }.ansi38-120 { color: #54d254; }.ansi48-120 { background: #54d254; }.ansi38-121 { color: #54d27e; }.ansi48-121 { background: #54d27e; }.ansi38-122 { color: #54d2a8; }.ansi48-122 { background: #54d2a8; }.ansi38-123 { color: #54d2d2; }.ansi48-123 { background: #54d2d2; }.ansi38-154 { color: #7ed200; }.ansi48-154 { background: #7ed200; }.ansi38-155 { color: #7ed22a; }.ansi48-155 { background: #7ed22a; }.ansi38-156 { color: #7ed254; }.ansi48-156 { background: #7ed254; }.ansi38-157 { color: #7ed27e; }.ansi48-157 { background: #7ed27e; }.ansi38-158 { color: #7ed2a8; }.ansi48-158 { background: #7ed2a8; }.ansi38-159 { color: #7ed2d2; }.ansi48-159 { background: #7ed2d2; }.ansi38-190 { color: #a8d200; }.ansi48-190 { background: #a8d200; }.ansi38-191 { color: #a8d22a; }.ansi48-191 { background: #a8d22a; }.ansi38-192 { color: #a8d254; }.ansi48-192 { background: #a8d254; }.ansi38-193 { color: #a8d27e; }.ansi48-193 { background: #a8d27e; }.ansi38-194 { color: #a8d2a8; }.ansi48-194 { background: #a8d2a8; }.ansi38-195 { color: #a8d2d2; }.ansi48-195 { background: #a8d2d2; }.ansi38-226 { color: #d2d200; }.ansi48-226 { background: #d2d200; }.ansi38-227 { color: #d2d22a; }.ansi48-227 { background: #d2d22a; }.ansi38-228 { color: #d2d254; }.ansi48-228 { background: #d2d254; }.ansi38-229 { color: #d2d27e; }.ansi48-229 { background: #d2d27e; }.ansi38-230 { color: #d2d2a8; }.ansi48-230 { background: #d2d2a8; }.ansi38-231 { color: #d2d2d2; }.ansi48-231 { background: #d2d2d2; }.ansi38-232 { color: #080808; }.ansi48-232 { background: #080808; }.ansi38-233 { color: #121212; }.ansi48-233 { background: #121212; }.ansi38-234 { color: #1c1c1c; }.ansi48-234 { background: #1c1c1c; }.ansi38-235 { color: #262626; }.ansi48-235 { background: #262626; }.ansi38-236 { color: #303030; }.ansi48-236 { background: #303030; }.ansi38-237 { color: #3a3a3a; }.ansi48-237 { background: #3a3a3a; }.ansi38-238 { color: #444444; }.ansi48-238 { background: #444444; }.ansi38-239 { color: #4e4e4e; }.ansi48-239 { background: #4e4e4e; }.ansi38-240 { color: #585858; }.ansi48-240 { background: #585858; }.ansi38-241 { color: #626262; }.ansi48-241 { background: #626262; }.ansi38-242 { color: #6c6c6c; }.ansi48-242 { background: #6c6c6c; }.ansi38-243 { color: #767676; }.ansi48-243 { background: #767676; }.ansi38-244 { color: #808080; }.ansi48-244 { background: #808080; }.ansi38-245 { color: #8a8a8a; }.ansi48-245 { background: #8a8a8a; }.ansi38-246 { color: #949494; }.ansi48-246 { background: #949494; }.ansi38-247 { color: #9e9e9e; }.ansi48-247 { background: #9e9e9e; }.ansi38-248 { color: #a8a8a8; }.ansi48-248 { background: #a8a8a8; }.ansi38-249 { color: #b2b2b2; }.ansi48-249 { background: #b2b2b2; }.ansi38-250 { color: #bcbcbc; }.ansi48-250 { background: #bcbcbc; }.ansi38-251 { color: #c6c6c6; }.ansi48-251 { background: #c6c6c6; }.ansi38-252 { color: #d0d0d0; }.ansi48-252 { background: #d0d0d0; }.ansi38-253 { color: #dadada; }.ansi48-253 { background: #dadada; }.ansi38-254 { color: #e4e4e4; }.ansi48-254 { background: #e4e4e4; }.ansi38-255 { color: #eeeeee; }.ansi48-255 { background: #eeeeee; }

@media (max-width: 980px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
    h1 {
        font-size: 2.2em;
        margin-bottom: 0px;
    }
    
    h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    #header #inner {
        width: 95%;
    }
    
    
    #header #right {
        float: none;
        margin-top: 0px;
    }
    
    #main {
        margin: 0 auto;
        width: 95%;
        padding-bottom: 40px;
    }
    
    #left-section {
        width: 100%;
    }
    
    #sidebar {
        width: 180px;
        float: none;
    }

    #caption {
        font-size: 0.8em;
        margin-bottom: 0px;
    }
    
    #splash img {
        width: 100%;
        height: auto;
        border: none;
    }
    
    #graph {
        width: 90%;
        margin: 0 auto;
    }
    
    .center-section {
        width: 90%;
        max-width: 600px;
    }
    
    .control-label {
        width: 100%;
        text-align: left;
    }
    
    .control {
        margin-left: 0;
    }
    
    .github-banner {
        display: none;
    }
    
    .nav-header {
        display: none;
        font-size: 8px;
        height: 32px;
    }

    .nav-header .inner {
        width: 90%;
    }
    
    .nav-header li a {
        height: 32px;
    }
    
    .player-stat-section {
        width: 50%;
    }
    
    .player-forum-section {
        width: 25%;
        margin-bottom: 14px;
        float: left;
        font-size: 15px;
    }
    
    .player-forum-section h3 {
        margin: 0 0 10px;
    }
    
    .ranking-table {
        font-size: 12px;
    }

    .leaderboard-stat-section {
        width: 100%;
    }

    .leaderboard-stat-section .stat-row {
        width: 100%;
    }

    .mobile-title {
        padding: 5px 0;
        float: left;
        color: #bbb;
    }
    
    .mobile-nav {
        text-align: right;
    }
    
    .mobile-nav .btn {
        margin-right: 0!important;
        color: #ededed!important;
        padding: 2px 14px 2px;
        background: #292929;
        border: none;
        font-size: 22px;
    }
    
    #mobile-nav-menu {
        text-align: left;
        list-style-type: none;
        margin: 0;
        padding: 10px;
        display: none;
    }
    
    #mobile-nav-menu li {
        padding-top: 10px;
    }

    #mobile-nav-menu li a {
        color: #bbb;
    }

    #mobile-nav-menu img {
        border: 0 !important;
        margin-right: 4px;
    }
    
    #chat-container #chat {
        height: 240px;
        font-size: 10px;
    }
    
    .players-table {
        width: 100%;
        padding: 0;
        font-size: 8px;
    }

    .admin-panel .admin-left {
        margin-right: 0px;
    }

    .admin-panel .admin-right {
        display: none;
    }

    .admin-panel .console-notification {
        display: none;
    }

    .admin-panel .console {
        font-size: 8px;
    }

    .player-servers .server-sidebar {
        display: none;
    }

    .player-servers .server-details {
        margin-left: 0;
        width: 100%;
    }

    .player-section .server-details .stat {
        width: 100%;
    }

    .player-section .server-details .stat-name {
        margin-left: 20px;
    }
}
