{% extends "base.html" %}

{% block title %}Notifications - Standard Survival Minecraft Server{% endblock %}

{% from 'notifications/includes/notification_row.html' import notification_row %}

{% block content %}
    <div class="container">
        {% include 'includes/flash_messages.html' %}
        {% if notifications %}
            <div class="pull-right">
                <a class="btn btn-lite" href="{{ url_for('read_notification_all') }}">Mark all as read</a>
            </div>
        {% endif %}
        <h2>Notifications</h2>
        <div class="clearfix"></div>
        <div class="border-section notifications-section">
            {% if notifications %}
                {% for notification in notifications %}
                    {{ notification_row(notification) }}
                {% endfor %}
            {% else %}
                <div class="no-notifications">
                    No notifications yet
                </div>
            {% endif %}
        </div>
    </div>

    <script type="application/javascript">
        StandardWeb.notifications.active = true;
        {% if oldest_id %}
            StandardWeb.notifications.oldestId = {{ oldest_id }};
        {% endif %}
    </script>
{% endblock %}
