{% macro topic_row(topic, topic_page_size, active=False, query=None) -%}
    <tr class="{% if topic.sticky %}sticky{% else %}{% if topic.user.admin %}admin{% endif %} {% if topic.closed %}closed{% endif %}{% endif %}">
        <td>
            {% if topic.closed %}
                <img src="{{ url_for('static', filename='images/forums/closed_topic.png') }}">
            {% elif active %}
                <img src="{{ url_for('static', filename='images/forums/active_topic.png') }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/forums/inactive_topic.png') }}">
            {% endif %}
        </td>
        <td class="topic-cell">
            {% if topic.sticky %}Sticky:{% endif %}
            <a class="name {% if active %}active{% endif %}" href="{{ url_for('forum_topic', topic_id=topic.id, query=query) }}">{{ topic.name }}</a>
            <div class="description">
                {% if topic.user.player %}
                    <a href="{{ url_for('player', username=topic.user.player.username) }}">
                        {{ topic.user.player.username|face_thumb }} {{ topic.user.player.displayname_html|safe }}
                    </a>
                {% else %}
                    {{ topic.user.username }}
                {% endif %} -
                {{ topic.created|from_now }}
                {% if topic.post_count > topic_page_size %}
                    -
                    <span class="pages">
                    {% with page_edge_count = 3, num_pages = (topic.replies // topic_page_size) + 1 %}
                        {% for page in range(1, num_pages + 1) %}
                            {% if page <= page_edge_count or page > num_pages - page_edge_count %}
                                {% if page > 1 %}
                                    <a href="{{ url_for('forum_topic', topic_id=topic.id, p=page, query=query) }}">{{ page }}</a>
                                {% else %}
                                    <a href="{{ url_for('forum_topic', topic_id=topic.id, query=query) }}">{{ page }}</a>
                                {% endif %}
                            {% elif page == page_edge_count + 1 %}
                                ...
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    </div>
                {% endif %}
            </div>
        </td>
        <td>
            <div class="count">
                <b>{{ topic.replies }}</b> {{ 'reply' if topic.replies == 1 else 'replies' }}
            </div>
            <div class="count">
                <b>{{ topic.views }}</b> {{ 'view' if topic.views == 1 else 'views' }}
            </div>
        </td>
        <td class="last-post-cell">
            {% with last_post = topic.last_post %}
            {% set last_post_user = last_post.user %}
            <div>
                <b>Last post:</b> <a href="{{ last_post.url }}">{{ last_post.created|from_now }}</a>
            </div>
            <div>
                {% if last_post_user.player %}
                    <a href="{{ url_for('player', username=last_post_user.player.username) }}">
                        {{ last_post_user.player.username|face_thumb }} {{ last_post_user.player.displayname_html|safe }}
                    </a>
                {% else %}
                    {{ last_post_user.username }}
                {% endif %}
            </div>
            {% endwith %}
        </td>
    </tr>
{%- endmacro %}