{% extends "base.html" %}

{% from 'forums/includes/topic_row.html' import topic_row %}

{% block title %}Forums - Standard Survival Minecraft Server{% endblock %}

{% block select_forum %}selected{% endblock %}

{% block content %}
    <div class="container">
        {% if user and not user.email %}
            <div class="alert warning">
                Please set an email address for your account <a href="{{ url_for('profile_settings') }}">here</a>.
                <a class="close">&times;</a>
            </div>
        {% endif %}
        {% include 'includes/flash_messages.html' %}
        <h2>Standard Survival Forums</h2>
        <div class="forum-content">
            {% block forum_content %}{% endblock %}
        </div>
    </div>

    <script>
        $(document).ready(function() {
            window.sceditor = $(".post-form textarea").sceditor({
                plugins: "bbcode",
                toolbar: 'bold,italic,underline,strike|size,color,removeformat|code,quote|image,link,youtube|emoticon|source',
                resizeWidth: false,
                emoticonsRoot: StandardWeb.cdnDomain + "/static/images/forums/emoticons/",
                style: "{{ url_for('static', filename='css/thirdparty/bbcode-editor.css') }}",
                width: '100%',
                emoticons: {
                    dropdown: {
                        ':)': 'smile.png',
                        ':D': 'grin.png',
                        ':(': 'sad.png',
                        ":'(": 'cwy.png',
                        '8-)': 'cool.png',
                        '<3': 'heart.png',
                        ':O': 'shocked.png',
                        ':P': 'tongue.png',
                        ';)': 'wink.png'
                    },
                    more: {
                        ':angel:': 'angel.png',
                        ':angry:': 'angry.png',
                        ':ermm:': 'ermm.png',
                        ':alien:': 'alien.png',
                        ':blink:': 'blink.png',
                        ':blush:': 'blush.png',
                        ':cheerful:': 'cheerful.png',
                        ':devil:': 'devil.png',
                        ':dizzy:': 'dizzy.png',
                        ':getlost:': 'getlost.png',
                        ':happy:': 'happy.png',
                        ':kissing:': 'kissing.png',
                        ':ninja:': 'ninja.png',
                        ':pinch:': 'pinch.png',
                        ':pouty:': 'pouty.png',
                        ':sick:': 'sick.png',
                        ':sideways:': 'sideways.png',
                        ':silly:': 'silly.png',
                        ':sleeping:': 'sleeping.png',
                        ':unsure:': 'unsure.png',
                        ':woot:': 'w00t.png',
                        ':wassat:': 'wassat.png'
                    }
                }
            }).sceditor('instance');
            if (window.sceditor.sourceMode) {
                window.sceditor.sourceMode(true);
            }
        });
    </script>
{% endblock %}
