{% extends 'forums/base.html' %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=post.topic.forum.id) }}">{{ post.topic.forum.name }}</a> &rarr;
        <a href="{{ url_for('forum_topic', topic_id=post.topic.id) }}">{{ post.topic.name }}</a> &rarr;
        Edit post
    </div>
    <div class="new-post forum-post">
        <h4>
            Edit post
        </h4>
            <div class="post-author {% if post.user.admin %}admin{% endif %}"
                 data-username="{{ post.user.player.username if post.user.player else post.user.username }}">
                {% if post.user.player %}
                    <a href="{{ url_for('player', username=post.user.player.username) }}">
                        {{ post.user.player.username | face_large }}
                    </a>
                    <div class="post-author-details">
                        <h5>
                            <a href="{{ url_for('player', username=post.user.player.username) }}">
                                {{ post.user.player.displayname_html|safe }}
                            </a>
                            {% if post.user.player.nickname %}
                                ({{ post.user.player.username }})
                            {% endif %}
                        </h5>
                        <b>Posts:</b> {{ post.user.forum_profile.post_count }}
                    </div>
                {% else %}
                    <div class="post-author-details">
                        <h5>
                            {{ post.user.username }}
                        </h5>
                        <b>Posts:</b> {{ post.user.forum_profile.post_count }}
                    </div>
                {% endif %}

                <div class="clear"></div>
            </div>
        <div>
            <form class="post-form" action="{{ url_for('edit_post', post_id=post.id) }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">{{ form.body.label }}</label>
                        <span class="control-errors">{% if form.body.errors %}{{ form.body.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.body() }}</div>
                    </div>

                    <div class="control-group">
                        <div class="control">
                            <input class="btn" type="submit" value="Save">
                            <a href="{{ url_for('forum_post', post_id=post.id) }}">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
