{% extends 'forums/base.html' %}

{% block title %}{{ forum.name }} - Standard Survival Forum{% endblock %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        {{ forum.name }}
    </div>
    <div class="button-area">
        {{ pages() }}
        <div class="controls">
            {% if not forum.locked or not user or user.admin %}
                <a href="{{ url_for('new_topic', forum_id=forum.id) }}" class="btn">New Topic</a>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
    <div class="forum">
        <h4>{{ forum.name }}</h4>
        <table class="forum-topic-table">
            {% for topic in topics %}
                {% with active = topic.id in active_topic_ids %}
                <tr class="{% if topic.sticky %}sticky{% else %}{% if topic.user.admin %}admin{% endif %} {% if topic.closed %}closed{% endif %}{% endif %}">
                    <td>
                        {% if topic.closed %}
                            <img src="{{ url_for('static', filename='images/forums/closed_topic.png') }}">
                        {% elif active %}
                            <img src="{{ url_for('static', filename='images/forums/active_topic.png') }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/forums/inactive_topic.png') }}">
                        {% endif %}
                    </td>
                    <td class="topic-cell">
                        {% if topic.sticky %}Sticky:{% endif %}
                        <a class="name {% if active %}active{% endif %}" href="{{ topic.url }}">{{ topic.name }}</a>
                        <div class="description">
                            {% if topic.user.player %}
                                <a href="{{ url_for('player', username=topic.user.player.username) }}">
                                    {{ topic.user.player.username|face_thumb }} {{ topic.user.player.displayname_html|safe }}
                                </a>
                            {% else %}
                                {{ topic.user.username }}
                            {% endif %} -
                            <abbr class="timeago" title="{{ topic.created | iso_date }}">{{ topic.created }}</abbr>
                            {% if topic.post_count > 20 %}
                                -
                                <span class="pages">
                                {% for page in range(1, (topic.post_count // 20) + 2) %}
                                    {% if page > 1 %}
                                        <a href="{{ url_for('forum_topic', topic_id=topic.id, p=page) }}">{{ page }}</a>
                                    {% else %}
                                        <a href="{{ url_for('forum_topic', topic_id=topic.id) }}">{{ page }}</a>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="count">
                            <b>{{ topic.replies }}</b> {{ 'reply' if topic.replies == 1 else 'replies' }}
                        </div>
                        <div class="count">
                            <b>{{ topic.views }}</b> {{ 'view' if topic.views == 1 else 'views' }}
                        </div>
                    </td>
                    <td class="last-post-cell">
                        {% with last_post = topic.last_post, last_post_user = last_post.user %}
                        <div>
                            <b>Last post:</b> <a href="{{ last_post.url }}"><abbr class="timeago" title="{{ last_post.created | iso_date }}">{{ last_post.created }}</abbr></a>
                        </div>
                        <div>
                            {% if last_post_user.player %}
                                <a href="{{ url_for('player', username=last_post_user.player.username) }}">
                                    {{ last_post_user.player.username|face_thumb }} {{ last_post_user.player.displayname_html|safe }}
                                </a>
                            {% else %}
                                {{ last_post_user.username }}
                            {% endif %}
                        </div>
                        {% endwith %}
                    </td>
                </tr>
            {% endwith %}
            {% endfor %}
        </table>
    </div>
    <div class="button-area">
        {{ pages() }}
        <div class="controls">
            {% if not forum.locked or not user or user.admin %}
                <a href="{{ url_for('new_topic', forum_id=forum.id) }}" class="btn">New Topic</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro pages() %}
    {% if forum.topic_count > page_size %}
        <div class="pages">
            <b>Pages:</b>
            {% with end_page = (forum.topic_count // page_size) + 1 %}
            {% for p in range(1, end_page + 1) %}
                {% if (p - page)|abs >= 3 and not p == end_page and not p == 1 %}
                    {% if (p - page)|abs == 3 %}
                        ...
                    {% endif %}
                    {% continue %}
                {% endif %}

                {% if p == page %}
                    <span>{{ p }}</span>
                {% elif p != 1 %}
                    <a href="{{ url_for('forum', forum_id=forum.id, p=p) }}">{{ p }}</a>
                {% else %}
                    <a href="{{ url_for('forum', forum_id=forum.id) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{%- endmacro %}