{% extends 'forums/base.html' %}

{% block forum_content %}
<div class="button-area">
    <div class="controls">
        {% if current_user %}
            <a href="{{ url_for('forum_search') }}">Search</a>
            <a href="{{ url_for('all_topics_read') }}">Mark all topics as read</a>
        {% endif %}
    </div>
</div>
<div class="clearfix"></div>
{% for category in categories %}
    <div class="forum-category">
        <div class="extender category-extender" data-target="category-{{ category.id }}">
            {% if category.collapsed %}
                <i class="fa fa-chevron-down"></i>
            {% else %}
                <i class="fa fa-chevron-up"></i>
            {% endif %}
        </div>
        <h4>{{ category.name }}</h4>
        <table id="category-{{ category.id }}" class="forum-table" {% if category.collapsed %}style="display: none"{% endif %}>
            {% for forum in category.forums %}
                {% with active = forum.id in active_forum_ids %}
                <tr>
                    <td>
                        {% if active %}
                            <img src="{{ url_for('static', filename='images/forums/active_topic.png') }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/forums/inactive_topic.png') }}">
                        {% endif %}
                    </td>
                    <td class="forum-cell">
                        <div class="forum-info">
                            <a class="name" href="{{ forum.url }}">{{ forum.name }}</a>
                            <div class="description">
                                {{ forum.description }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="count">
                            <b>{{ forum.topic_count }}</b> {{ 'topic' if forum.topic_count == 1 else 'topics' }}
                        </div>
                        <div class="count">
                            <b>{{ forum.post_count }}</b> {{ 'post' if forum.post_count == 1 else 'posts' }}
                        </div>
                    </td>
                    <td class="last-post-cell">
                        {% if forum.last_post %}
                            {% with last_post = forum.last_post %}
                            {% set last_topic = last_post.topic %}
                            {% set last_post_user = last_post.user %}
                            <div>
                                <b>Topic:</b> <a href="{{ last_topic.url }}">{{ last_topic.name | truncate(30) }}</a>
                            </div>
                            <div>
                                <b>Last post:</b> <a href="{{ last_post.url }}">{{ last_post.created|from_now }}</a>
                            </div>
                            <div>
                                {% if last_post_user.player %}
                                    <a href="{{ url_for('player', username=last_post_user.player.username) }}">
                                        {{ last_post_user.player.username|face_thumb }} {{ last_post_user.player.displayname_html|safe }}
                                    </a>
                                {% else %}
                                    {{ last_post_user.username }}
                                {% endif %}
                            </div>
                            {% endwith %}
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
            {% endfor %}
        </table>
    </div>
{% endfor %}
{% endblock %}