{% extends 'forums/base.html' %}

{% block title %}Move Topic - {{ topic.forum.name }} - Standard Survival Forum{% endblock %}

{% from 'includes/forms.html' import render_field %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=topic.forum.id) }}">{{ topic.forum.name }}</a> &rarr;
        <a href="{{ url_for('forum_topic', topic_id=topic.id) }}">{{ topic.name }}</a> &rarr;
        Move
    </div>
    <div class="forum-form-section">
        <h4>
            Move Topic
        </h4>
        <div>
            <form action="{{ url_for('move_topic', topic_id=topic.id) }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="control-group vertical">
                        <label>Topic</label>
                        <div class="control">{{ topic.name }}</div>
                    </div>

                    <div class="control-group vertical">
                        <label>Current Forum</label>
                        <div class="control">{{ topic.forum.name }}</div>
                    </div>

                    {{ render_field(form.destination, vertical=True) }}

                    <div class="control-group">
                        <div class="control">
                            <input class="btn" type="submit" value="Move">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
