{% extends 'forums/base.html' %}

{% block title %}Move Topic - {{ forum.name }} - Standard Survival Forum{% endblock %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=topic.forum.id) }}">{{ topic.forum.name }}</a> &rarr;
        <a href="{{ url_for('forum_topic', topic_id=topic.id) }}">{{ topic.name }}</a> &rarr;
        Move
    </div>
    <div class="new-topic">
        <h4>
            Move Topic
        </h4>
        <div>
            <form class="post-form" action="{{ url_for('move_topic', topic_id=topic.id) }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Topic</label>
                        <div class="control">{{ topic.name }}</div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Current Forum</label>
                        <div class="control">{{ topic.forum.name }}</div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.destination.label }}</label>
                        <span class="control-errors">{% if form.destination.errors %}{{ form.destination.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.destination() }}</div>
                    </div>

                    <div class="control-group">
                        <div class="control">
                            <input class="btn" type="submit" value="Move">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
