{% extends 'forums/base.html' %}

{% block title %}New Topic - {{ forum.name }} - Standard Survival Forum{% endblock %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=forum.id) }}">{{ forum.name }}</a> &rarr;
        New Topic
    </div>
    <div class="forum-form-section">
        <h4>
            New Topic
        </h4>
        <div>
            <form action="{{ url_for('new_topic', forum_id=forum.id) }}" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">{{ form.title.label }}</label>
                        <span class="control-errors">{% if form.title.errors %}{{ form.title.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.title() }}</div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{{ form.body.label }}</label>
                        <span class="control-errors">{% if form.body.errors %}{{ form.body.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.body() }}</div>
                    </div>

                    <div class="control-group">
                        <div class="control">
                            <input class="btn" type="submit" value="Post">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
