{% extends 'forums/base.html' %}

{% block title %}Search - Standard Survival Forums{% endblock %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        {% if query or by_user %}
            <a href="{{ url_for('forum_search') }}">Search</a>
        {% else %}
            Search
        {% endif %}
    </div>
    <div class="forum-form-section forum-search">
        <h4>
            Search
        </h4>
        <div>
            <form action="{{ url_for('forum_search') }}" method="get">
                <fieldset>
                    {% if by_user %}
                        <input type="hidden" name="user_id" value="{{ form.user_id.data }}" />
                        <div class="control-group vertical">
                            {{ form.user_id.label }}
                            <span class="control-errors">{% if form.user_id.errors %}{{ form.user_id.errors[0] }}{% endif %}</span>
                            <div class="control">
                                {% if by_user.player %}
                                    {{ by_user.player.displayname_html|safe }}
                                {% else %}
                                    {{ by_user.username }}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group vertical">
                            {{ form.query.label }}
                            <span class="control-errors">{% if form.query.errors %}{{ form.query.errors[0] }}{% endif %}</span>
                            <div class="control">{{ form.query() }}</div>
                        </div>
                    {% endif %}

                    <div class="control-group vertical">
                        {{ form.forum_id.label }}
                        <span class="control-errors">{% if form.forum_id.errors %}{{ form.forum_id.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.forum_id() }}</div>
                    </div>

                    <div class="control-group vertical">
                        {{ form.sort_by.label }}
                        <span class="control-errors">{% if form.sort_by.errors %}{{ form.sort_by.errors[0] }}{% endif %}</span>
                        <div class="control">{{ form.sort_by() }}</div>
                    </div>

                    <div class="control-group">
                        <div class="control">
                            <input class="btn" type="submit" value="Search">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% if query or by_user %}
        <div class="button-area">
            {{ pages() }}
        </div>
        <div class="forum">
            <h4>Search results</h4>
            {% if num_topics %}
                <table class="forum-table">
                    {% for topic in topics %}
                        {{ topic_row(topic, page_size, query=query) }}
                    {% endfor %}
                </table>
            {% else %}
                <div class="forum-search-empty">
                    No results found
                </div>
            {% endif %}
        </div>
        <div class="button-area">
            {{ pages() }}
        </div>
    {% endif %}
{% endblock %}

{% macro pages() %}
    {% if num_topics > page_size %}
        <div class="pages">
            <b>Pages:</b>
            {% with end_page = ((num_topics - 1) // page_size) + 1 %}
            {% for p in range(1, end_page + 1) %}
                {% if (p - page)|abs >= 3 and not p == end_page and not p == 1 %}
                    {% if (p - page)|abs == 3 %}
                        ...
                    {% endif %}
                    {% continue %}
                {% endif %}

                {% with args = request.args.copy() %}
                    {% set tmp = args.pop('p', None) %}
                    {% if p == page %}
                        <span>{{ p }}</span>
                    {% elif p != 1 %}
                        <a href="{{ url_for('forum_search', p=p, **args) }}">{{ p }}</a>
                    {% else %}
                        <a href="{{ url_for('forum_search', **args) }}">{{ p }}</a>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{%- endmacro %}
