{% extends 'forums/base.html' %}

{% block title %}{{ topic.name }} - {{ topic.forum.name }} - Standard Survival Forum{% endblock %}

{% from 'includes/forms.html' import render_field %}
{% from 'includes/score.html' import render_user_score %}
{% from 'forums/includes/vote_list.html' import render_vote_list %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=topic.forum_id) }}">{{ topic.forum.name }}</a> &rarr;
        {{ topic.name }}
    </div>
    <div class="button-area">
        {{ pages() }}
        <div class="controls">
            {% if subscription %}
                <a href="{{ url_for('forum_topic_unsubscribe', topic_id=topic.id) }}">Unsubscribe</a>
            {% elif current_user and current_user.email %}
                <a href="{{ url_for('forum_topic_subscribe', topic_id=topic.id) }}">Subscribe to replies in this topic</a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="forum-topic">
        {% for post in posts %}
            <a class="anchor-nav" id="{{ post.id }}"></a>
            <div class="forum-post {% if post.user.forum_ban %}banned{% endif %} {% if post.is_bad %}bad{% endif %}">
                <h4>
                    <a href="{{ url_for('forum_post', post_id=post.id) }}">
                       {{ post.created|from_now }}
                    </a>
                </h4>
                <div class="post-author {% if post.user.admin %}admin{% endif %}"
                     data-username="{{ post.user.player.username if post.user.player else post.user.username }}">
                    {% if post.user.player %}
                        {% with stats = player_stats.get(post.user.player) %}
                            <a href="{{ url_for('player', username=post.user.player.username) }}">
                                {{ post.user.player.username | face_large }}
                            </a>
                            <div class="post-author-details">
                                <h5>
                                    {% if stats and stats.group %}
                                        [<a href="{{ url_for('group', name=stats.group.name) }}">{{ stats.group.name }}</a>]
                                    {% endif %}
                                    <a href="{{ url_for('player', username=post.user.player.username) }}">
                                        {{ post.user.player.displayname_html|safe }}
                                    </a>
                                    {% if post.user.player.nickname %}
                                        ({{ post.user.player.username }})
                                    {% endif %}
                                </h5>
                                <b>Posts:</b> {{ post.user.forum_profile.post_count }} - <a href="{{ url_for('forum_search', user_id=post.user.id) }}">see all</a>
                                {% if stats %}
                                    <br/>
                                    <b>Time played:</b> {{ h.elapsed_time_string(stats.time_spent) }}
                                    <br/>
                                    <b>Last seen:</b>
                                    {% if stats.is_online %}
                                        Now
                                    {% else %}
                                        {{ stats.last_seen|from_now }}
                                    {% endif %}
                                {% endif %}
                                <br/>
                                <b>Rating:</b>
                                {% if current_user and current_user.admin %}
                                    {{ post.user.score }}
                                {% endif %}
                                {{ render_user_score(post.user) }}
                            </div>
                        {% endwith %}
                    {% else %}
                        <div class="post-author-details">
                            <h5>
                                {{ post.user.username }}
                            </h5>
                            <b>Posts:</b> {{ post.user.forum_profile.post_count }}
                        </div>
                    {% endif %}

                    <div class="messaging">
                        {% if current_user and post.user != current_user %}
                            <a class="btn btn-lite" href="{{ url_for('messages', username=post.user.get_username()) }}">Send Message</a>
                        {% endif %}
                    </div>

                    {% if current_user.admin_or_moderator and not post.user.admin %}
                        <div class="post-author-admin">
                            {% if not post.user.forum_ban %}
                                <a class="confirm" href="{{ url_for('forum_ban', user_id=post.user_id) }}">Ban from forums</a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
                {% if post.is_bad %}
                    <div class="bad-post-warning alert warning">
                        Warning! This post has been designated as a <b>shitpost</b> by the community. Click <a href="#" class="show-bad-post">here</a> to show it.
                    </div>
                {% endif %}
                <div class="post-content" data-bbcode="{{ post.body }}">
                    {{ post.get_body_html(request.args.query)|safe }}
                </div>
                <div class="post-extras">
                    {% if post.attachments %}
                        {% for attachment in post.attachments %}
                            <div class="attachment">
                                {{ attachment|attachment_link }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if False and post.user.forum_profile.signature_html %}
                        <div class="signature">
                            <br /><br />
                            <hr>
                            {{ post.user.forum_profile.signature_html|safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="post-details">
                    {% if current_user and current_user.id != post.user_id%}
                        <span class="vote" data-post-id="{{ post.id }}">
                            <i class="fa fa-thumbs-o-up up {{'active' if votes[post.id] == 1 }}" data-type="1"></i> |
                            <i class="fa fa-thumbs-o-down down {{'active' if votes[post.id] == -1 }}" data-type="-1"></i>
                        </span>
                    {% endif %}
                    {% if current_user.admin %}
                        {% with up_count = post.grouped_votes.up_list|length, down_count = post.grouped_votes.down_list|length %}
                            <span class="vote counts tooltip"
                                  title="{{ render_vote_list(post.grouped_votes) }}"
                                  data-tooltip-gravity="w" data-tooltip-offset="5" data-tooltip-html="true">
                                {{ up_count }} {{ 'like' if up_count == 1 else 'likes' }}
                                {{ down_count }} {{ 'dislike' if down_count == 1 else 'dislikes' }}
                            </span>
                        {% endwith %}
                        <span class="vote score">{{ post.score }}</span>
                    {% endif %}
                    {% if post.updated %}
                        <span class="updated">
                            Edited by
                            {% if post.updated_by.player %}
                                <b>{{ post.updated_by.player.displayname|safe }}</b>
                            {% else %}
                                <b>{{ post.updated_by.username }}</b>
                            {% endif %}
                            {{ post.updated|from_now }}
                        </span>
                    {% endif %}
                    {% if current_user %}
                        {% with delete_topic = loop.index0 == 0 and not page - 1 %}
                            {% if current_user.admin_or_moderator %}
                                <a class="confirm" href="{{ url_for('forum_post_delete', post_id=post.id) }}">Delete {% if delete_topic %}topic{% endif %}</a>
                                {% if not topic.closed %}
                                    |
                                {% endif %}
                            {% endif %}
                            {% if not topic.closed %}
                                {% if current_user == post.user or current_user.admin_or_moderator %}
                                    <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a> |
                                {% endif %}
                                <a class="reply" href="#">Reply</a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
        <div class="button-area">
            {{ pages() }}
        </div>
    </div>
    {% if current_user %}
        {% if topic.closed and not current_user.admin %}
            This topic is closed
        {% elif not can_user_post %}
            You need to spend more time on the server before being able to post!
        {% else %}
            <div class="forum-form-section">
                <h4>
                    Reply
                </h4>
                <div>
                    <form class="post-form" action="{{ url_for('forum_topic', topic_id=topic.id, p=page) }}" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            {{ render_field(form.body, vertical=True) }}
                            {{ render_field(form.image, vertical=True) }}

                            {% if not subscription %}
                                <div class="control-group checkbox {{ 'disabled' if not current_user.email }}">
                                    {% if current_user.email %}
                                        {{ form.subscribe() }} {{ form.subscribe.label }}
                                    {% else %}
                                        {{ form.subscribe(disabled='disabled') }} {{ form.subscribe.label }} - To enable this option set your email <a href="{{ url_for('profile_settings') }}">here</a>.
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="control-group">
                                <div class="control">
                                    <input class="btn" type="submit" value="Post">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if current_user.admin_or_moderator %}
            <div class="moderation-area">
                <b>Moderate:</b>
                {% if topic.closed %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='open') }}">Open</a>
                {% else %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='close') }}">Close</a>
                {% endif %}
                |
                {% if topic.sticky %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='unsticky') }}">Unsticky</a>
                {% else %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='sticky') }}">Sticky</a>
                {% endif %}
                |
                <a href="{{ url_for('move_topic', topic_id=topic.id) }}">Move</a>
            </div>
        {% endif %}
    {% else %}
        You must <a href="{{ url_for('login', next=request.path) }}">login</a> before you can post a reply
    {% endif %}
{% endblock %}

{% macro pages() %}
    {% if topic.post_count > page_size %}
        <div class="pages">
            <b>Pages:</b>
            {% with end_page = ((topic.replies) // page_size) + 1 %}
            {% for p in range(1, end_page + 1) %}
                {% if (p - page)|abs >= 3 and not p == end_page and not p == 1 %}
                    {% if (p - page)|abs == 3 %}
                        ...
                    {% endif %}
                    {% continue %}
                {% endif %}

                {% if p == page %}
                    <span>{{ p }}</span>
                {% elif p != 1 %}
                    <a href="{{ url_for('forum_topic', topic_id=topic.id, p=p) }}">{{ p }}</a>
                {% else %}
                    <a href="{{ url_for('forum_topic', topic_id=topic.id) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{%- endmacro %}

{% block js %}
    {{ super() }}
    <script type="application/javascript">
        $('.reply').on('click', function(e) {
            var content = $(this).closest('.post-details').siblings('.post-content').attr('data-bbcode');
            var username = $(this).closest('.post-details').siblings('.post-author').attr('data-username');

            window.sceditor.val(window.sceditor.val() + '[quote=' + username + ']\n' + content + '[/quote]\n');
            window.sceditor.focus();

            $(document).scrollTop($(document).height());

            return false;
        });

        $('.vote i').on('click', function(e) {
            var $this = $(this);
            var $vote = $this.closest('.vote');
            var postId = $vote.data('post-id');

            $this.siblings().removeClass('active');
            $this.toggleClass('active');

            var type = $this.data('type');

            var vote;

            if ($this.hasClass('active')) {
                vote = type;
            } else {
                vote = '0';
            }

            $.ajax({
                url: '/forums/post/' + postId + '/vote',
                type: 'POST',
                data: {vote: vote}
            });

            return false;
        });

        $('.show-bad-post').on('click', function(e) {
            var $this = $(this);
            var $warning = $this.closest('.bad-post-warning');
            var $forumPost = $this.closest('.forum-post');

            $warning.remove();
            $forumPost.removeClass('bad');

            return false;
        });
    </script>
{% endblock %}
