{% extends 'forums/base.html' %}

{% block forum_content %}
    <div class="breadcrumbs">
        <a href="{{ url_for('forums') }}">Forums</a> &rarr;
        <a href="{{ url_for('forum', forum_id=topic.forum_id) }}">{{ topic.forum.name }}</a> &rarr;
        {{ topic.name }}
    </div>
    <div class="button-area">
        {{ pages() }}
    </div>
    <div class="forum-topic">
        {% for post in posts %}
            <a class="anchor-nav" id="{{ post.id }}"></a>
            <div class="forum-post {% if post.user.forum_ban %}banned{% endif %}">
                <h4>
                    <a href="{{ url_for('forum_post', post_id=post.id) }}">
                        <abbr class="timeago" title="{{ post.created | iso_date }}">{{ post.created }}</abbr>
                    </a>
                </h4>
                <div class="post-author {% if post.user.admin %}admin{% endif %}">
                    {% if post.user.player %}
                        {% with stats, rank = player_stats.get(post.user.player, (None, None)) %}
                            <a href="{{ url_for('player', username=post.user.player.username) }}">
                                {{ post.user.player.username | face_large }}
                            </a>
                            <div class="post-author-details">
                                <h5>
                                    <a href="{{ url_for('player', username=post.user.player.username) }}">
                                        {{ post.user.player.displayname_html|safe }}
                                    </a>
                                    {% if post.user.player.nickname %}
                                        ({{ post.user.player.username }})
                                    {% endif %}
                                </h5>
                                <b>Posts:</b> {{ post.user.forum_profile.post_count }}
                                {% if stats %}
                                    <br/>
                                    <b>Time played:</b> {{ h.elapsed_time_string(stats.time_spent) }}
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% else %}
                        <div class="post-author-details">
                            <h5>
                                {{ post.user.username }}
                            </h5>
                            <b>Posts:</b> {{ post.user.forum_profile.post_count }}
                        </div>
                    {% endif %}

                    {% if user.admin or user in topic.forum.moderators and not post.user.admin %}
                        <div class="post-author-admin">
                            {% if not post.user.forum_ban %}
                                <a class="confirm" href="{{ url_for('forum_ban', user_id=post.user_id) }}">Ban from forums</a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="clear"></div>
                </div>
                <div class="post-content" data-bbcode="{{ post.body }}">
                    {{ post.body_html|replace('djangobb_forum/img/smilies', 'images/forums/emoticons')|safe }}
                </div>
                <div class="post-extras">
                    {% if post.attachments %}
                        {% for attachment in post.attachments %}
                            <div class="attachment">
                                {{ attachment|attachment_link }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if post.user.forum_profile.signature_html %}
                        <div class="signature">
                            <br /><br />
                            <hr>
                            {{ post.user.forum_profile.signature_html|safe }}
                        </div>
                    {% endif %}
                </div>
                <div class="post-details">
                    {% if post.updated %}
                        <span class="updated">
                            Edited by
                            {% if post.updated_by.player %}
                                <b>{{ post.updated_by.player.displayname_html|safe }}</b>
                            {% else %}
                                <b>{{ post.updated_by.username }}</b>
                            {% endif %}
                            <abbr class="timeago" title="{{ post.updated | iso_date }}">{{ post.updated }}</abbr>
                        </span>
                    {% endif %}
                    {% if user %}
                        {% with delete_topic = loop.index0 == 0 and not page - 1 %}
                            {% if user.admin or user in topic.forum.moderators %}
                                <a class="confirm" href="{{ url_for('forum_post_delete', post_id=post.id) }}">Delete {% if delete_topic %}topic{% endif %}</a>
                                {% if not topic.closed %}
                                    |
                                {% endif %}
                            {% endif %}
                            {% if not topic.closed %}
                                {% if user == topic.user or user.admin or user in topic.forum.moderators %}
                                    {# <a href="#">Edit</a> | #}
                                {% endif %}
                                <a class="reply" href="#">Reply</a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="button-area">
            {{ pages() }}
        </div>
    </div>
    {% if user %}
        {% if topic.closed and not user.admin %}
            This topic is closed
        {% else %}
            <div class="new-post">
                <h4>
                    Quick Reply
                </h4>
                <div>
                    <form class="post-form" action="{{ url_for('new_post', topic_id=topic.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">{{ form.body.label }}</label>
                                <span class="control-errors">{% if form.body.errors %}{{ form.body.errors[0] }}{% endif %}</span>
                                <div class="control">{{ form.body() }}</div>
                            </div>

                            <div class="control-group">
                                <div class="control">
                                    <input class="btn" type="submit" value="Post">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if user.admin or user in topic.forum.moderators %}
            <div class="moderation-area">
                <b>Moderate:</b>
                {% if topic.closed %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='open') }}">Open</a>
                {% else %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='close') }}">Close</a>
                {% endif %}
                |
                {% if topic.sticky %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='unsticky') }}">Unsticky</a>
                {% else %}
                    <a href="{{ url_for('forum_topic_status', topic_id=topic.id, status='sticky') }}">Sticky</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        You must <a href="{{ url_for('login') }}">login</a> before you can post a reply
    {% endif %}

    <script type="application/javascript">
        $('.reply').on('click', function(e) {
            var content = $(this).closest('.post-details').siblings('.post-content').attr('data-bbcode');

            var username = 'test';

            content = '[quote=Posted by ' + username + ']\n' + content + '[/quote]';

            window.sceditor.val(window.sceditor.val() + content);
            window.sceditor.focus();

            $(document).scrollTop($(document).height());

            return false;
        });
    </script>
{% endblock %}

{% macro pages() %}
    {% if topic.post_count > page_size %}
        <div class="pages">
            <b>Pages:</b>
            {% with end_page = (topic.post_count // page_size) + 1 %}
            {% for p in range(1, end_page + 1) %}
                {% if (p - page)|abs >= 3 and not p == end_page and not p == 1 %}
                    {% if (p - page)|abs == 3 %}
                        ...
                    {% endif %}
                    {% continue %}
                {% endif %}

                {% if p == page %}
                    <span>{{ p }}</span>
                {% elif p != 1 %}
                    <a href="{{ url_for('forum_topic', topic_id=topic.id, p=p) }}">{{ p }}</a>
                {% else %}
                    <a href="{{ url_for('forum_topic', topic_id=topic.id) }}">{{ p }}</a>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{%- endmacro %}